Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-lead, @frontend-team, @backend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-lead @tech-lead

# Frontend specific files
/src/components/  @frontend-team
/src/styles/      @frontend-team

# Backend specific files
/server/          @backend-team

# Configuration files
/*.config.js      @tech-lead
/*.json           @tech-lead

feat: enhance ESLint configuration by adjusting rules to warn level and adding JSX handling for public directory
  eslint.config.js
Owners: @tech-lead

feat: refactor profile service to use class structure and add getUserProfile method; update components to use motion from framer-motion
  .cert/cert.pem
  .cert/key.pem
  src/App.tsx
  src/components/dashboard/Dashboard.tsx
  src/main.tsx
  src/pages/LearningStyles.tsx
  src/pages/VarkStyles.tsx
  src/pages/profile/StudentProfile/StudentDashboard.tsx
  src/pages/values/Collaboration.tsx
  src/pages/values/Excellence.tsx
  src/pages/values/Innovation.tsx
  src/services/profileService.ts
  src/styles/components/common.ts
Owners: @project-lead, @tech-lead, @frontend-team

feat: refactor authentication methods to unify login handling; add mock themes for testing
  src/contexts/AuthContext.tsx
  src/firebase/auth-service.ts
  src/pages/Curriculum.tsx
  src/pages/Home.tsx
  src/pages/LearningStyles.tsx
  src/test/mockThemes.ts
  src/test/testUtils.tsx
  src/types/styled.d.ts
Owners: @project-lead, @tech-lead

feat: extend styled-components theme to include additional spacing options
  src/types/styled.d.ts
Owners: @project-lead, @tech-lead

feat: add custom spacing options to mockStyledTheme for enhanced theming flexibility
  src/test/mockThemes.ts
Owners: @project-lead, @tech-lead

feat: add GitHub configuration files and refactor Dashboard component to improve profile handling
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup.yml
  .github/workflows/main.yml
  src/components/common/Toast.tsx
  src/components/common/types/index.ts
  src/components/dashboard/Dashboard.tsx
Owners: @project-lead, @tech-lead, @frontend-team

feat: implement new user profile settings page for enhanced user experience
  package-lock.json
Owners: @tech-lead

feat: update Firebase configuration to include database URL and analytics initialization
  src/firebase/config.ts
Owners: @project-lead, @tech-lead

feat: update Firebase configuration to use environment variables for sensitive data
  .cert/cert.pem
  .cert/key.pem
  public/firebase-config.js
  src/firebase/config.ts
  vite.config.js
Owners: @project-lead, @tech-lead

feat: refactor authentication flow and improve error handling in login components
  src/App.tsx
  src/components/Login.tsx
  src/components/PrivateRoute.tsx
  src/components/auth/LoginForm.tsx
  src/components/chat/LearningStyleChat.tsx
Owners: @project-lead, @tech-lead, @frontend-team

feat: enhance Google login button with improved error handling and styling
  src/components/GoogleLoginButton.tsx
  src/components/auth/AuthErrorDialog.tsx
  src/components/common/Toast.tsx
  src/components/common/types/index.ts
  src/components/dashboard/Dashboard.tsx
Owners: @frontend-team

feat: update certificate and private key files for improved security and configuration
  .cert/cert.pem
  .cert/key.pem
  public/firebase-config.js
Owners: @project-lead, @tech-lead

feat: update environment variables and improve certificate/key configuration
  .cert/cert.pem
  .cert/key.pem
  .env
  public/firebase-config.js
Owners: @project-lead, @tech-lead

feat: add Firebase environment variables to GitHub Actions workflow
  .github/workflows/main.yml
Owners: @project-lead, @tech-lead

feat: update configuration files and improve Google login button accessibility
  jest.config.js
  package-lock.json
  package.json
  src/components/GoogleLoginButton.test.tsx
  src/components/GoogleLoginButton.tsx
  src/pages/LearningStyles.tsx
  src/test/testUtils.tsx
  vite.config.js
Owners: @tech-lead, @frontend-team, @project-lead

feat: refine test utilities and enhance type definitions for better clarity
  src/test/testUtils.tsx
  src/types/types.ts
Owners: @project-lead, @tech-lead

feat: enhance spacing utility type definitions for improved clarity and type safety
  src/theme/theme.ts
Owners: @project-lead, @tech-lead

feat: wrap GoogleLoginButton in ThemeProvider for improved styling support
  src/components/GoogleLoginButton.tsx
Owners: @frontend-team

feat: add Babel presets and configure Jest for improved JavaScript and React support
  jest.config.js
  package-lock.json
  package.json
Owners: @tech-lead

feat: enable future transitions in memory router for improved rendering performance
  src/test/testUtils.tsx
Owners: @project-lead, @tech-lead

feat: refactor GoogleLoginButton to remove ThemeProvider and update theme usage in styled components
  src/components/GoogleLoginButton.tsx
  src/test/mockThemes.ts
  src/types/styled.d.ts
Owners: @frontend-team, @project-lead, @tech-lead

feat: update GoogleLoginButton accessibility and remove unused theme type definition
  src/components/GoogleLoginButton.tsx
  src/test/testUtils.tsx
Owners: @frontend-team, @project-lead, @tech-lead

feat: add initialEntries to memory router for improved routing behavior in tests
  src/components/common/Card.tsx
  src/test/testUtils.tsx
Owners: @frontend-team, @project-lead, @tech-lead

feat: update Content Security Policy and add caching headers for improved security and performance
  .firebase/hosting.ZGlzdA.cache
  firebase.json
  index.html
Owners: @project-lead, @tech-lead

feat: enhance Firebase deployment workflow and update security headers for improved performance and safety
  .github/workflows/main.yml
  firebase.json
Owners: @project-lead, @tech-lead

feat: add GCP service account setup and Firebase project configuration to deployment workflow
  .github/workflows/main.yml
Owners: @project-lead, @tech-lead

feat: update Firebase deployment workflow to use token for authentication and enhance AuthContext with loading state and loginWithGoogle method
  .github/workflows/main.yml
  securityall.sh
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
Owners: @project-lead, @tech-lead

feat: enhance Vite configuration for React Router v7 support and update theme settings
  .github/workflows/main.yml
  public/firebase-messaging-sw.js
  src/App.tsx
  src/firebase/auth-service-worker.ts
  src/main.tsx
  src/test/testUtils.tsx
  src/theme/theme.ts
  vite.config.js
Owners: @project-lead, @tech-lead

feat: refactor routing to update import paths and replace Dashboard with StudentDashboard in protected routes
  src/App.tsx
Owners: @project-lead, @tech-lead

feat: simplify Login component by removing email/password form and enhancing Google login error handling
  src/pages/Login.tsx
Owners: @project-lead, @tech-lead

feat: improve error handling in Login component by adding dismiss functionality and ensuring clearError is a function before calling
  src/pages/Login.tsx
Owners: @project-lead, @tech-lead

feat: add script to export React application structure and content to markdown; implement file inclusion and exclusion logic based on extensions and paths
  repository_content.md
  scripts/export_repo_content.py
Owners: @project-lead, @tech-lead

feat: enhance repository export script to generate multiple markdown files based on size; add summary file with processed file count and generated parts
  react_codebase_part1.md
  react_codebase_part3.md
  react_codebase_part4.md
  react_codebase_part5.md
  react_codebase_summary.md
  scripts/export_repo_content.py
Owners: @project-lead, @tech-lead

feat: update repository export script to generate smaller markdown files; adjust chunk size to 500KB and improve handling of large files
  react_codebase_part10.md
  react_codebase_part11.md
  react_codebase_part12.md
  react_codebase_part13.md
  react_codebase_part14.md
  react_codebase_part15.md
  react_codebase_part16.md
  react_codebase_part17.md
  react_codebase_part18.md
  react_codebase_part19.md
  react_codebase_part21.md
  react_codebase_part22.md
  react_codebase_part4.md
  react_codebase_part5.md
  react_codebase_part6.md
  react_codebase_part7.md
  react_codebase_part8.md
  react_codebase_summary.md
  scripts/export_repo_content.py
Owners: @project-lead, @tech-lead

feat: update connector configuration and service ID; refactor layout component to use Navbar; enhance TypeScript configuration and dependencies
  dataconnect-generated/js/default-connector/esm/index.esm.js
  dataconnect-generated/js/default-connector/index.cjs.js
  dataconnect-generated/js/default-connector/index.d.ts
  dataconnect-generated/js/default-connector/package.json
  dataconnect/connector/connector.yaml
  dataconnect/connector/mutations.gql
  dataconnect/connector/queries.gql
  dataconnect/dataconnect.yaml
  dataconnect/schema/schema.gql
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
  src/App.tsx
  src/components/Navbar.tsx
  src/components/layout/Layout.tsx
  src/firebase/auth-service.ts
Owners: @project-lead, @tech-lead, @frontend-team

feat: implement Firebase messaging service worker with error handling; add deployment workflows for Firebase Hosting; update storage rules for write access restrictions
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  scripts/prepare-service-worker.js
  src/components/Layout.tsx
  src/components/Navbar.tsx
  src/firebase/config.ts
  src/firebase/firebase-messaging-sw.ts
  src/firebase/messaging-utils.ts
  storage.rules
Owners: @project-lead, @tech-lead, @frontend-team

feat: refactor service worker preparation script to use ES modules; implement top-level await for improved readability
  .env.example
  README.md
  public/firebase-messaging-sw.js
  public/firebase-messaging-sw.js.map
  scripts/prepare-service-worker.js
  src/firebase/config.ts
Owners: @project-lead, @tech-lead

Fix lock file: add missing dependencies
  package-lock.json
Owners: @tech-lead

feat: enhance Firebase configuration with environment variable validation and secure initialization; update README with new features and scripts
  README.md
  src/firebase/config.ts
Owners: @project-lead, @tech-lead

Add reusable components
  src/components/auth/LoginForm.tsx
  src/components/auth/SignUp.tsx
  src/components/chat/LearningStyleChat.tsx
  src/components/common/Button.tsx
  src/components/common/Input.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/layout/Layout.tsx
  src/components/molecules/FormGroup.tsx
  src/components/molecules/NavItem.tsx
  src/components/organisms/AssessmentFlow.tsx
  src/components/organisms/AuthForm.tsx
  src/components/templates/DashboardLayout.tsx
Owners: @frontend-team
