Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-lead, @frontend-team, @backend-team

Refactor Google login implementation by creating a reusable GoogleLoginButton component and updating ParentDashboardFormLegacy and ParentProfileFormLegacy to use it.
  src/components/GoogleLoginButton.jsx
  src/pages/ParentDashboardFormLegacy.jsx
  src/pages/ParentProfileFormLegacy.jsx
Owners: @frontend-team, @project-lead, @tech-lead

Refactor layout and styling by consolidating CSS files, removing unused components, and introducing new styles for improved design consistency
  AuthRoute.tsx
  cleanup-workspace.sh
  src/cleanup-workspace.sh
  src/components/Header.jsx
  src/components/ParentDashboardLegacy.tsx
  src/components/Sidebar.jsx
  src/components/StudentProfileForm.tsx
  src/components/auth/LoginForm.jsx
  src/components/layout/Contact.css
  src/components/layout/Footer.css
  src/components/layout/Header.css
  src/components/layout/Header.jsx
  src/components/layout/Home.css
  src/components/layout/Layout.css
  src/components/layout/Layout.jsx
  src/components/layout/Navbar.jsx
  src/components/layout/Navigation.css
  src/components/layout/Navigation.jsx
  src/components/layout/ParentProfile.css
  src/components/layout/Sidebar.jsx
  src/components/layout/global.css
  src/components/layout/header.css
  src/components/layout/styles/Header.jsx
  src/components/layout/styles/theme.js
  src/components/layout/variables.css
  src/components/profile/ParentProfile.tsx
  src/components/profile/StudentProfileForm.tsx
  src/components/shared/Button.jsx
  src/components/shared/LoadingSpinner.jsx
  src/config/firebase.js
  src/firebase/config.js
  src/pages/ParentDashboardFormLegacy.jsx
  src/pages/ParentDashboardLegacy.jsx
  src/pages/ParentProfileFormLegacy.jsx
  src/pages/ParentProfileLegacy.jsx
  src/pages/StudentDashboardFormLegacy.jsx
  src/pages/StudentDashboardLegacy.jsx
  src/pages/StudentProfileFormLegacy.jsx
  src/pages/StudentProfileLegacy.jsx
Owners: @project-lead, @tech-lead, @frontend-team

Add AuthRoute component and create StyledLink component for improved navigation
  .env.example
  .gitignore
  README.md
  src/components/AuthRoute.tsx
  src/components/StyledLink.js
Owners: @project-lead, @tech-lead, @frontend-team

Refactor routing structure, add PrivateRoute component for protected routes, and implement Dashboard and Login pages with error handling
  src/App.jsx
  src/components/PrivateRoute.jsx
  src/components/dashboard/Dashboard.jsx
  src/components/layout/Header.jsx
  src/components/layout/Navigation.jsx
  src/components/layout/Navigation.tsx
  src/index.jsx
  src/pages/About.jsx
  src/pages/Login.jsx
Owners: @project-lead, @tech-lead, @frontend-team

Update Dockerfile to use Microsoft Dev Containers image for improved compatibility
  Dockerfile
Owners: @project-lead, @tech-lead

Add ParentProfile and ParentProfileForm components; remove old components and enhance Dashboard with new navigation options
  src/components/Dashboard.jsx
  src/components/dashboard/Dashboard.jsx
  src/pages/profile/ParentProfile/ParentDashboard.jsx
  src/pages/profile/ParentProfile/ParentProfile.jsx
  src/pages/profile/ParentProfile/ParentProfile.tsx
  src/pages/profile/ParentProfile/ParentProfileForm.tsx
  src/pages/profile/StudentProfile/CreateStudentModal.tsx
  src/pages/profile/StudentProfile/StudentDashboard.jsx
  src/pages/profile/StudentProfile/StudentProfile.jsx
  src/pages/profile/StudentProfile/StudentProfileForm.tsx
Owners: @frontend-team, @project-lead, @tech-lead

Fix import issues and restructure files
  README.md
  public/JSX/AuthRoute.jsx
  src/App.jsx
  src/components/AuthRoute.tsx
  src/components/auth/AuthRoute.tsx
  src/components/layout/styles/theme.js
  src/theme/theme.js
Owners: @project-lead, @tech-lead, @frontend-team

Update README with new file structure and consolidate AuthRoute component; remove legacy files for improved organization
  README.md
  public/JSX/AuthRoute.jsx
  src/App.jsx
  src/components/AuthRoute.tsx
  src/components/auth/AuthRoute.tsx
  src/components/layout/styles/theme.js
  src/theme/theme.js
Owners: @project-lead, @tech-lead, @frontend-team

Update CI workflow to use actions/upload-artifact@v4 for artifact uploads
  .github/workflows/ci.yml
Owners: @project-lead, @tech-lead

Streamline the profile information box
  src/components/common/Card.css
  src/components/common/Card.tsx
  src/components/common/InfoCard.jsx
  src/components/dashboard/Dashboard.jsx
  src/components/home/Features.css
  src/components/home/Features.tsx
  src/components/home/Hero.css
  src/components/home/Hero.tsx
  src/components/home/LearningStyles.css
  src/components/home/LearningStyles.tsx
  src/components/layout/Header.tsx
Owners: @frontend-team

Update dependencies and refactor components for improved organization and error handling
  .github/.eslintrc.js
  package-lock.json
  package.json
  src/App.jsx
  src/components/HomeContainer.js
  src/components/auth/AuthRoute.tsx
  src/server/routes/studentRoutes.js
  src/theme/theme.js
Owners: @project-lead, @tech-lead, @frontend-team

Enhance ESLint configuration with additional rules and support for React hooks
  .github/.eslintrc.js
Owners: @project-lead, @tech-lead

Improve dashboard labels for consistency and visual appeal
  src/components/Login.jsx
  src/components/auth/Login.css
  src/components/auth/LoginForm.tsx
  src/components/auth/SignUp.css
  src/components/auth/SignUpForm.tsx
Owners: @frontend-team

Add brand colors and theme configuration; create UserProfileCard component
  .github/.eslintrc.js
  brandColors.js
  components/UserProfileCard.jsx
  package-lock.json
  package.json
  theme.js
Owners: @project-lead, @tech-lead

Add initial VS Code workspace configuration
  GA-MVP.code-workspace
Owners: @project-lead, @tech-lead

Refactor header styles for improved layout and responsiveness
  src/components/layout/header.css
Owners: @frontend-team

Add Features page and enhance authentication token handling; remove obsolete ParentProfileForm
  package-lock.json
  package.json
  public/images/hero_img.svg
  src/App.jsx
  src/components/layout/Header.tsx
  src/contexts/AuthContext.jsx
  src/pages/Features.jsx
  src/pages/Home.jsx
  src/pages/LearningStyles.jsx
  src/pages/profile/ParentProfile/ParentDashboard.jsx
  src/pages/profile/ParentProfile/ParentProfileForm.jsx
  src/pages/profile/StudentProfile/StudentDashboard.jsx
  src/services/api.js
  src/services/profileService.ts
Owners: @tech-lead, @project-lead, @frontend-team

Refactor navigation handling in Button component; add CreateStudent component for adding new students; update package dependencies and fix return types in profile service
  package-lock.json
  package.json
  public/images/logo.svg
  src/App.jsx
  src/components/auth/SignUp.jsx
  src/components/auth/SignUpForm.tsx
  src/components/common/Button.tsx
  src/components/dashboard/Dashboard.jsx
  src/components/layout/Header.tsx
  src/contexts/AuthContext.jsx
  src/pages/Contact.jsx
  src/pages/Home.jsx
  src/pages/LearningStyles.jsx
  src/pages/TakeAssessment.jsx
  src/pages/profile/ParentProfile/CreateStudent.jsx
  src/pages/profile/StudentProfile/CreateStudentModal.tsx
  src/services/profileService.ts
Owners: @tech-lead, @project-lead, @frontend-team

Update package dependencies: add google-auth-library and google-gax; upgrade tsx to version 4.19.2
  package-lock.json
  package.json
Owners: @tech-lead

Add Layout component and enhance error handling; update Firebase config for auth persistence
  package.json
  src/App.jsx
  src/components/Layout.jsx
  src/components/Layout.tsx
  src/components/Mission.tsx
  src/components/dashboard/Dashboard.jsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/shared/ErrorBoundary.jsx
  src/components/styles/CoreValues.styles.ts
  src/config/firebase.ts
  src/contexts/AuthContext.jsx
  src/firebase/config.ts
  src/main.jsx
  src/pages/About.jsx
  src/pages/Home.jsx
  src/pages/TakeAssessment.jsx
  src/pages/profile/ParentProfile/ParentDashboard.jsx
  src/services/firestore.ts
  src/services/profileService.ts
  vite.config.js
Owners: @tech-lead, @project-lead, @frontend-team

Add VSCode settings for GitHub Copilot features and enhancements
  .vscode/settings.json
Owners: @project-lead, @tech-lead

Add Header component to multiple pages; enhance layout and styling for better user experience
  src/components/layout/Header.tsx
  src/contexts/AuthContext.jsx
  src/index.css
  src/pages/About.jsx
  src/pages/Contact.jsx
  src/pages/Curriculum.jsx
Owners: @frontend-team, @project-lead, @tech-lead

Enhance PrivateRoute and Dashboard components with loading states; refactor button components for consistency; update Firebase configuration for emulator support and error handling.
  firebase.json
  src/components/Login.jsx
  src/components/PrivateRoute.jsx
  src/components/common/Button.tsx
  src/components/dashboard/Dashboard.jsx
  src/components/layout/Header.tsx
  src/contexts/AuthContext.jsx
  src/firebase/config.ts
  src/pages/Home.jsx
  src/pages/LearningStyles.jsx
  src/pages/profile/ParentProfile/CreateStudent.jsx
  vite.config.js
Owners: @tech-lead, @frontend-team, @project-lead

Convert JSX to TSX
  src/App.tsx
  src/components/Login.tsx
  src/components/PrivateRoute.tsx
  src/components/auth/SignUp.tsx
  src/components/dashboard/Dashboard.tsx
  src/contexts/AuthContext.tsx
  src/pages/Curriculum.tsx
  src/pages/Features.tsx
  src/pages/Home.tsx
  src/pages/LearningStyles.tsx
  src/pages/Login.tsx
  src/pages/NotFound.tsx
  src/pages/profile/ParentProfile/CreateStudent.jsx
  src/pages/profile/ParentProfile/CreateStudent.tsx
  src/pages/profile/ParentProfile/ParentDashboard.tsx
  src/pages/profile/ParentProfile/ParentProfileForm.jsx
  src/pages/profile/ParentProfile/ParentProfileForm.tsx
  src/pages/profile/StudentProfile/StudentDashboard.tsx
Owners: @project-lead, @tech-lead, @frontend-team

Add PrivateRoute component and update auth types; enhance ParentProfileForm with currentUser context
  src/App.tsx
  src/components/Login.tsx
  src/components/PrivateRoute.tsx
  src/components/dashboard/Dashboard.tsx
  src/contexts/AuthContext.tsx
  src/pages/Contact.tsx
  src/pages/Curriculum.tsx
  src/pages/Features.tsx
  src/pages/Home.tsx
  src/pages/LearningStyles.tsx
  src/pages/profile/ParentProfile/CreateStudent.tsx
  src/pages/profile/ParentProfile/ParentProfileForm.tsx
  src/types/auth.ts
Owners: @project-lead, @tech-lead, @frontend-team

Fix Firebase login issue
  src/config/firebase.ts
Owners: @project-lead, @tech-lead

Export useAuth hook from AuthContext for improved accessibility in components
  src/contexts/AuthContext.tsx
Owners: @project-lead, @tech-lead

Refactor import statements for useAuth hook to use named imports for consistency
  src/App.tsx
  src/components/PrivateRoute.tsx
  src/contexts/AuthContext.tsx
  src/pages/Contact.tsx
  src/pages/Curriculum.tsx
  src/pages/Features.tsx
  src/pages/Home.tsx
  src/pages/LearningPlan.tsx
  src/pages/LearningStyles.tsx
  src/pages/Login.tsx
  src/pages/NotFound.tsx
  src/pages/TakeAssessment.tsx
  src/pages/VarkStyles.tsx
  src/pages/profile/ParentProfile/CreateStudent.tsx
  src/pages/profile/ParentProfile/ParentDashboard.tsx
  src/pages/profile/ParentProfile/ParentProfile.tsx
  src/pages/profile/ParentProfile/ParentProfileForm.tsx
  src/pages/profile/StudentProfile/StudentDashboard.tsx
  src/pages/profile/StudentProfile/StudentProfile.tsx
  src/pages/values/Collaboration.tsx
  src/pages/values/Excellence.tsx
  src/pages/values/Innovation.tsx
  src/pages/values/Integrity.tsx
Owners: @project-lead, @tech-lead, @frontend-team

Enhance authentication flow with loading states and improve user experience in login and route components
  src/App.tsx
  src/components/PrivateRoute.tsx
  src/components/auth/AuthRoute.tsx
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
  src/pages/profile/ParentProfile/ParentProfile.tsx
Owners: @project-lead, @tech-lead, @frontend-team

Fix Vite HMR and Firebase Auth state issues
  src/components/auth/PrivateRoute.jsx
  src/contexts/AuthContext.jsx
  vite.config.js
Owners: @frontend-team, @project-lead, @tech-lead

y
  src/contexts/AuthContext.tsx
Owners: @project-lead, @tech-lead

Refactor Firebase configuration and enhance loading states in authentication routes
  AuthRoute.tsx
  firebase.json
  index.html
  package-lock.json
  package.json
  public/JSX/InfoCard.jsx
  src/App.tsx
  src/components/Layout.tsx
  src/components/Login.tsx
  src/components/PrivateRoute.tsx
  src/components/auth/AuthRoute.tsx
  src/components/auth/PrivateRoute.tsx
  src/components/auth/SignUp.tsx
  src/components/common/LoadingSpinner.tsx
  src/components/dashboard/Dashboard.tsx
  src/config/firebase.ts
  src/contexts/AuthContext.tsx
  src/env.d.ts
  src/firebase/config.ts
  src/pages/Curriculum.tsx
  src/pages/LearningPlan.tsx
  src/pages/Login.tsx
  src/pages/NotFound.tsx
  src/pages/TakeAssessment.tsx
  src/pages/profile/ParentProfile/ParentDashboard.tsx
  src/pages/profile/ParentProfile/ParentProfile.tsx
  src/pages/profile/StudentProfile/StudentDashboard.tsx
  src/services/firestore.ts
Owners: @project-lead, @tech-lead, @frontend-team

ds
  src/components/chat/LearningStyleChat.tsx
  src/pages/TakeAssessment.tsx
Owners: @frontend-team, @project-lead, @tech-lead

Add Learning Style Chat component to enhance assessment experience
  src/components/chat/LearningStyleChat.tsx
Owners: @frontend-team

Refactor LearningStyles component and enhance global styles with theme integration
  src/pages/LearningStyles.tsx
  src/styles/components/common.ts
  src/styles/global.ts
  src/styles/theme.js
  src/theme/theme.js
Owners: @project-lead, @tech-lead, @frontend-team

Fix auth context for Fast Refresh compatibility
  src/components/PrivateRoute.tsx
  src/components/auth/SignUp.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/layout/Layout.tsx
  src/pages/Contact.tsx
  src/pages/Curriculum.tsx
  src/pages/Features.tsx
  src/pages/Home.tsx
Owners: @frontend-team, @project-lead, @tech-lead

Fix Firebase authentication redirect issue
  src/components/Login.tsx
  src/components/PrivateRoute.tsx
  src/components/auth/AuthRoute.tsx
  src/components/auth/PrivateRoute.tsx
  src/components/auth/SignUp.tsx
  src/contexts/AuthContext.tsx
Owners: @frontend-team, @project-lead, @tech-lead

Update README to reflect new file structure and organization
  README.md
Owners: @project-lead, @tech-lead

Revise README for clarity and structure; update installation instructions and add key features
  README.md
Owners: @project-lead, @tech-lead

Clean directory structure
  src/App.tsx
  src/components/chat/LearningStyleChat.tsx
  src/components/layout/Layout.tsx
  src/pages/LearningStyles.tsx
  src/pages/profile/ParentProfile/CreateStudent.tsx
  src/pages/profile/ParentProfile/ParentDashboard.tsx
Owners: @project-lead, @tech-lead, @frontend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-lead @tech-lead

# Frontend specific files
/src/components/  @frontend-team
/src/styles/      @frontend-team

# Backend specific files
/server/          @backend-team

# Configuration files
/*.config.js      @tech-lead
/*.json           @tech-lead
