Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-lead, @frontend-team, @backend-team

feat: update Firestore integration by replacing 'db' with 'firestore' in service files; add new React codebase parts and summary documentation
  Geaux-flo.git
  codecopy/react_codebase_part1.md
  codecopy/react_codebase_part10.md
  codecopy/react_codebase_part11.md
  codecopy/react_codebase_part12.md
  codecopy/react_codebase_part13.md
  codecopy/react_codebase_part14.md
  codecopy/react_codebase_part15.md
  codecopy/react_codebase_part16.md
  codecopy/react_codebase_part17.md
  codecopy/react_codebase_part18.md
  codecopy/react_codebase_part19.md
  codecopy/react_codebase_part2.md
  codecopy/react_codebase_part21.md
  codecopy/react_codebase_part22.md
  codecopy/react_codebase_part3.md
  codecopy/react_codebase_part4.md
  codecopy/react_codebase_part5.md
  codecopy/react_codebase_part6.md
  codecopy/react_codebase_part7.md
  codecopy/react_codebase_part8.md
  codecopy/react_codebase_summary.md
  src/firebase/auth-service-worker.ts
  src/pages/LearningPlan.tsx
  src/services/firestore.ts
  src/services/profileService.ts
Owners: @project-lead, @tech-lead

Refactor Header component for improved layout and styling; enhance navigation links with hover effects and add authentication buttons
  f
  package-lock.json
  src/components/layout/Header.jsx
  src/components/layout/styles/Header.css
  src/components/layout/styles/Navigation.css
  src/index.css
  src/main.jsx
Owners: @project-lead, @tech-lead, @frontend-team

feat: add Adaptive Curriculum Designer component with learning style detection and social sharing integration; update subproject commits and fix lint script
  functions/package.json
  src/components/CurriculumDesigner.tsx
Owners: @project-lead, @tech-lead, @frontend-team

fix: update lint script to correctly target JavaScript and TypeScript files
  functions/package.json
Owners: @project-lead, @tech-lead

refactor: remove unused imports from index.ts
  functions/src/index.ts
Owners: @project-lead, @tech-lead

refactor: remove Firebase Storage references from configuration files
  apphosting.yaml
  devcontainer.json
  firebase.json
  vite.config.js
Owners: @project-lead, @tech-lead

refactor: remove Firebase functions configuration and update certificate files
  .cert/cert.pem
  .cert/key.pem
  .firebase/hosting.ZGlzdA.cache
  firebase.json
Owners: @project-lead, @tech-lead

feat: add Google sign-in functionality and update Content Security Policy for external scripts
  .cert/cert.pem
  .cert/key.pem
  .firebase/hosting.ZGlzdA.cache
  firebase.json
  public/index.html
  src/firebase/config.ts
  src/services/auth-service.ts
  vite.config.js
Owners: @project-lead, @tech-lead

feat: add development roadmap with milestones for core platform and features
  .github/task.md
Owners: @project-lead, @tech-lead

fix: update package-lock.json to correct default-connector path and restore missing metadata
  package-lock.json
Owners: @tech-lead

refactor: remove legacy files and add cleanup script for repository organization
  .nvmrc
  Actions
  Geaux-flo.git
  devop/cleanup-workspace.sh
  devop/index_repo.py
  devop/repo-tree.txt
  geaux-academy@0.0.0
Owners: @project-lead, @tech-lead

refactor: remove unused secrets and variables file
  Secrets and variables
Owners: @project-lead, @tech-lead

fix: update Content Security Policy in index.html to enhance security and allow necessary external scripts
  public/index.html
Owners: @project-lead, @tech-lead

chore: update certificate and key files for improved security and update subproject reference
  .cert/cert.pem
  .cert/key.pem
Owners: @project-lead, @tech-lead

feat: integrate Supabase for authentication and data services
  .env
  package-lock.json
  package.json
  src/contexts/AuthContext.tsx
  src/services/dataService.ts
  src/supabaseClient.ts
Owners: @project-lead, @tech-lead

refactor: update Supabase environment variable names to use VITE_ prefix and enhance package-lock.json
  .env
  package-lock.json
  src/supabaseClient.ts
Owners: @project-lead, @tech-lead

feat: implement Supabase client and Todos page for task management
  .cert/cert.pem
  .cert/key.pem
  .github/workflows/main.yml
  config.toml
  src/App.tsx
  src/contexts/AuthContext.tsx
  src/pages/Todos.tsx
  src/supabaseClient.ts
  src/utils/supabase.ts
  supabase/config.json
Owners: @project-lead, @tech-lead

chore: update package versions for @vitejs/plugin-vue and @vitejs/plugin-react
  =0.0.29
  =0.11.0
  package-lock.json
  package.json
Owners: @project-lead, @tech-lead

feat: enhance authentication context and Jest configuration for improved testing
  jest.config.js
  src/contexts/AuthContext.tsx
  src/pages/__tests__/Home.test.tsx
  src/supabaseClient.ts
  src/test/setup.ts
  src/test/testUtils.tsx
  supabase/config.json
Owners: @tech-lead, @project-lead

chore: update certificate and key files, and add metadata to index.html
  .cert/cert.pem
  .cert/key.pem
  index.html
Owners: @project-lead, @tech-lead

chore: update certificate and key files for improved security; modify CI/CD workflows for Firebase and add WebSocket service
  .cert/cert.pem
  .cert/key.pem
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/main.yml
  index.html
  public/firebase-messaging-sw.js
  src/firebase/auth-service.ts
  src/firebase/config.ts
  src/services/websocket.ts
Owners: @project-lead, @tech-lead

feat: update integration from Amazon SageMaker to Azure for ML models in task.md
  .github/task.md
Owners: @project-lead, @tech-lead

chore: update certificate and key files for improved security; modify service worker registration in App.tsx
  .cert/cert.pem
  .cert/key.pem
  src/App.tsx
Owners: @project-lead, @tech-lead

chore: update package-lock.json to include @firebasegen/default-connector and adjust resolution method
  package-lock.json
Owners: @tech-lead

feat: add password reset system, navigation component, and user dashboard with data visualization
  Artifacts/geauxacademy/auth-signup-verification.tsx
  Artifacts/geauxacademy/auth-system.tsx
  Artifacts/geauxacademy/dashboard-component.tsx
  Artifacts/geauxacademy/learning-assessment-chat.tsx
  Artifacts/geauxacademy/navbar-hero-component.tsx
  Artifacts/geauxacademy/password-reset-complete.tsx
  Artifacts/geauxacademy/password-reset-system.tsx
  Artifacts/geauxacademy/progress-dashboard.tsx
  Artifacts/geauxacademy/rbac-system.tsx
  Artifacts/multiagents/aacs-testing-docs.md
  Artifacts/multiagents/adaptive-agents-thesis.md
  Artifacts/multiagents/adaptive-llm-protocol.py
  Artifacts/multiagents/adaptive-ml-algorithms.py
  Artifacts/multiagents/advanced-optimization-system.py
  Artifacts/multiagents/integrated-adaptive-system.py
  Artifacts/multiagents/mvp-implementation.py
Owners: @project-lead, @tech-lead

feat: add script to extract and consolidate project files into markdown format
  output_docs/consolidated_part_1.md
  output_docs/consolidated_part_10.md
  output_docs/consolidated_part_2.md
  output_docs/consolidated_part_3.md
  output_docs/consolidated_part_4.md
  output_docs/consolidated_part_5.md
  output_docs/consolidated_part_6.md
  output_docs/consolidated_part_7.md
  output_docs/consolidated_part_8.md
  output_docs/consolidated_part_9.md
  output_docs/output_docs.zip
  package-lock.json
  react.py
  src/App.tsx
Owners: @project-lead, @tech-lead

chore: remove unused files and update project structure for better organization
  public/firebase-config.js
  src/App.tsx
  vite.config.js
Owners: @project-lead, @tech-lead

chore: update copilot instructions to reflect Rollup formatting instead of ESLint
  .github/copilot-instructions.md
Owners: @project-lead, @tech-lead

chore: add Firebase service account configuration file
  .firebase/geaux-academy-firebase-adminsdk-fbsvc-7bbbd4ea6c.json
Owners: @project-lead, @tech-lead

chore: rename ESLint config file and add Rollup configuration
  eslint.config.js
  rollup.config.js
Owners: @tech-lead

chore: update Firebase hosting configuration and add custom 404 page
  firebase.json
  public/404.html
  public/index.html
Owners: @tech-lead, @project-lead

chore: refactor components and update build process to use Rollup
  Artifacts/analytics-monitoring/prediction-monitoring.tsx
  Artifacts/assessment-visualizations.ts
  package-lock.json
  package.json
Owners: @project-lead, @tech-lead

Fix TypeScript and JSX syntax errors
  .github/copilot-instructions.md
  src/components/Layout.tsx
  src/components/Login.tsx
  src/components/Navbar.tsx
  src/contexts/ProfileContext.tsx
  src/main.tsx
  src/pages/NotFound.tsx
Owners: @project-lead, @tech-lead, @frontend-team

chore: add Profile, Assessment, Logout, Navigation, Theme components and update Layout and App structure
  src/App.tsx
  src/components/Layout.tsx
  src/components/Logout.tsx
  src/components/Navigation.tsx
  src/components/Theme.tsx
  src/contexts/AuthContext.tsx
  src/main.tsx
  src/pages/Assessment.tsx
  src/pages/Profile.tsx
Owners: @project-lead, @tech-lead, @frontend-team

feat: enhance authentication flow with email/password login and lazy loading for Assessment component
  .cert/cert.pem
  .cert/key.pem
  package-lock.json
  src/App.tsx
  src/components/Login.tsx
  src/contexts/AuthContext.tsx
  src/pages/Home.tsx
Owners: @project-lead, @tech-lead, @frontend-team

refactor: update AuthContext interface and exports; remove unused files
  =0.0.29
  =0.11.0
  src/contexts/AuthContext.tsx
  src/test/testUtils.tsx
Owners: @project-lead, @tech-lead

feat: implement AI-powered curriculum generation workflow and associated API
  backend/crew/curriculum_workflow.py
  backend/crew/tasks.yaml
  backend/routes/curriculum.py
  backend/schemas/curriculum.py
  src/components/curriculum/CurriculumRecommendations.tsx
  src/contexts/AuthContext.tsx
  src/services/curriculumService.ts
Owners: @project-lead, @tech-lead, @frontend-team

feat: enhance Parent and ParentProfile interfaces; refactor CurriculumRecommendations and CreateStudent components for improved UI and functionality
  src/components/curriculum/CurriculumRecommendations.tsx
  src/contexts/AuthContext.tsx
  src/pages/profile/ParentProfile/CreateStudent.tsx
  src/pages/profile/ParentProfile/ParentDashboard.tsx
  src/types/auth.ts
Owners: @frontend-team, @project-lead, @tech-lead

feat: enhance AuthContext with email/password authentication and error handling; refactor AuthProvider and useAuth hooks
  src/contexts/AuthContext.tsx
Owners: @project-lead, @tech-lead

feat: refactor theme management and consolidate entry point; update layout structure with new providers
  .cert/cert.pem
  .cert/key.pem
  src/App.tsx
  src/components/Theme.tsx
  src/components/layout/Layout.tsx
  src/index.tsx
  src/main.tsx
  src/test/testUtils.tsx
Owners: @project-lead, @tech-lead, @frontend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-lead @tech-lead

# Frontend specific files
/src/components/  @frontend-team
/src/styles/      @frontend-team

# Backend specific files
/server/          @backend-team

# Configuration files
/*.config.js      @tech-lead
/*.json           @tech-lead
