Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-lead, @frontend-team, @backend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-lead @tech-lead

# Frontend specific files
/src/components/  @frontend-team
/src/styles/      @frontend-team

# Backend specific files
/server/          @backend-team

# Configuration files
/*.config.js      @tech-lead
/*.json           @tech-lead

Add new components for loading spinner, header, card, navigation, and hero; implement authentication routes; refactor context providers and update styles
  public/JSX/AuthRoute.jsx
  public/JSX/Button.jsx
  public/JSX/Card.jsx
  public/JSX/Features.jsx
  public/JSX/Footer.jsx
  public/JSX/Header.jsx
  public/JSX/Hero.jsx
  public/JSX/InfoCard.jsx
  public/JSX/Layout.jsx
  public/JSX/LearningStyles.jsx
  public/JSX/LoadingSpinner.jsx
  public/JSX/LoginForm.jsx
  public/JSX/Navigation.jsx
  public/JSX/PrivateRoute.jsx
  public/JSX/SignUp.jsx
  public/JSX/SignUpForm.jsx
  public/JSX/ts3.jsx
  src/App.jsx
  src/components/auth/AuthRoute.jsx
  src/components/common/Button.jsx
  src/components/layout/Navbar.jsx
  src/components/layout/Sidebar.jsx
  src/components/shared/ErrorBoundary.jsx
  src/contexts/ProfileContext.jsx
  src/index.css
  src/index.jsx
  src/main.jsx
  src/pages/About.jsx
  src/pages/Home.jsx
  src/pages/values/Collaboration.jsx
  src/pages/values/Excellence.jsx
  src/pages/values/Innovation.jsx
  src/pages/values/Integrity.jsx
Owners: @project-lead, @tech-lead, @frontend-team

Add authentication features with Google login, implement error boundary, and enhance layout and navigation components
  src/App.jsx
  src/components/Dashboard.jsx
  src/components/auth/AuthRoute.jsx
  src/components/auth/LoginForm.jsx
  src/components/layout/Layout.jsx
  src/components/layout/Navigation.jsx
  src/components/shared/ErrorBoundary.jsx
  src/contexts/AuthContext.jsx
  src/pages/About.jsx
  src/pages/LearningStyles.jsx
  src/pages/NotFound.jsx
  src/pages/VarkStyles.jsx
  src/styles/theme.js
Owners: @project-lead, @tech-lead, @frontend-team

Refactor App component to include Router, Header, and Footer; remove unused animations file
  -H
  idk
  src/App.jsx
  src/utils/animaions.js
Owners: @project-lead, @tech-lead

firebaseauth
  .env
  src/components/auth/AuthRoute.tsx
  src/components/auth/SignUpForm.tsx
  src/config/firebase.js
  src/contexts/AuthContext.jsx
  src/firebase/config.ts
  src/pages/Contact.jsx
  src/pages/Curriculum.jsx
  src/pages/Features.jsx
  src/pages/Home.jsx
  src/pages/LearningPlan.jsx
  src/pages/LearningStyles.jsx
  src/pages/NotFound.jsx
  src/pages/ParentDashboard.jsx
  src/pages/ParentDashboardFormLegacy.jsx
  src/pages/ParentDashboardLegacy.jsx
  src/pages/ParentProfile.jsx
  src/pages/ParentProfileForm.jsx
  src/pages/ParentProfileFormLegacy.jsx
  src/pages/ParentProfileLegacy.jsx
  src/pages/StudentDashboard.jsx
  src/pages/StudentDashboardFormLegacy.jsx
  src/pages/StudentDashboardLegacy.jsx
  src/pages/StudentProfile.jsx
  src/pages/StudentProfileForm.jsx
  src/pages/StudentProfileFormLegacy.jsx
  src/pages/StudentProfileLegacy.jsx
  src/pages/TakeAssessment.jsx
  src/pages/VarkStyles.jsx
  src/pages/values/Collaboration.jsx
  src/pages/values/Excellence.jsx
  src/pages/values/Innovation.jsx
  src/pages/values/Integrity.jsx
Owners: @project-lead, @tech-lead, @frontend-team

Setup authentication
  public/JSX/LoginForm.jsx
  src/config/firebase.ts
Owners: @project-lead, @tech-lead

UI setup
  public/JSX/Button.jsx
  public/JSX/ts3.jsx
  src/components/home/Features.tsx
  src/components/home/Hero.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
Owners: @project-lead, @tech-lead, @frontend-team

API setup
  .github/ISSUE_TEMPLATE/api-setup.md
  backend/api.py
  src/server/routes/studentRoutes.js
  src/server/routes/student_routes.py
Owners: @project-lead, @tech-lead

Setup CI/CD pipeline for linting, testing, and deployment
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  package.json
Owners: @project-lead, @tech-lead

Implement secure environment variable management
  .env
  .env.example
  .github/workflows/deploy.yml
  apphosting.yaml
  firebase.json
  src/config/firebase.js
  src/config/firebase.ts
Owners: @project-lead, @tech-lead

Add file paths to top of files
  src/App.jsx
  src/components/Chat.js
  src/components/CourseCard.jsx
  src/components/Dashboard.jsx
  src/components/auth/AuthRoute.jsx
  src/components/auth/AuthRoute.tsx
  src/components/auth/LoginForm.jsx
  src/components/auth/LoginForm.tsx
  src/components/auth/PrivateRoute.tsx
  src/components/auth/SignUpForm.tsx
  src/components/common/Button.tsx
  src/components/common/Card.tsx
  src/components/common/LoadingSpinner.tsx
  src/components/features/learning/LearningStyleInsightsWrapper.tsx
  src/components/features/vue/VueComponent.tsx
  src/components/home/Features.tsx
  src/components/home/Hero.tsx
  src/components/home/LearningStyles.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
Owners: @project-lead, @tech-lead, @frontend-team

Merge duplicate files and clean up
  COPILOT.md
  Copilot.md
  public/JSX/Button.jsx
  public/JSX/Card.jsx
  public/JSX/Features.jsx
  public/JSX/Footer.jsx
  public/JSX/Header.jsx
  public/JSX/Hero.jsx
  public/JSX/LearningStyles.jsx
  public/JSX/LoadingSpinner.jsx
  public/JSX/LoginForm.jsx
  public/JSX/Navigation.jsx
  public/JSX/PrivateRoute.jsx
  public/JSX/SignUpForm.jsx
  src/components/ParentDashboard.jsx
  src/components/ParentProfile/ParentProfile.tsx
  src/components/StudentDashboard.jsx
  src/components/StudentProfile.jsx
  src/components/auth/LoginForm.tsx
  src/components/auth/PrivateRoute.tsx
  src/components/auth/SignUpForm.tsx
  src/components/common/Button.tsx
  src/components/common/Card.tsx
  src/components/common/LoadingSpinner.tsx
  src/components/home/Features.tsx
  src/components/home/Hero.tsx
  src/components/home/LearningStyles.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Navigation.tsx
  src/components/profile/StudentProfileForm.tsx
  src/components/shared/ErrorBoundary.jsx
  src/pages/ParentDashboard.jsx
  src/pages/ParentProfile.jsx
  src/pages/StudentProfile.jsx
  src/pages/StudentProfileForm.jsx
Owners: @project-lead, @tech-lead, @frontend-team

Implement GitHub Copilot guide for Geaux Academy
  src/components/auth/AuthRoute.jsx
  src/components/auth/LoginForm.jsx
  src/components/auth/SignUpForm.tsx
  src/components/common/Button.tsx
  src/components/common/Card.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.jsx
  src/components/layout/Sidebar.jsx
  src/pages/About.jsx
Owners: @frontend-team, @project-lead, @tech-lead

Refactor App component to lazy load routes and implement protected routes for user authentication
  .vscode/settings.json
  package-lock.json
  src/App.jsx
Owners: @project-lead, @tech-lead

Remove unused components and styles to clean up the codebase
  COPILOT.md
  Copilot.md
  public/JSX/Button.jsx
  public/JSX/Card.jsx
  public/JSX/Features.jsx
  public/JSX/Footer.jsx
  public/JSX/Header.jsx
  public/JSX/Hero.jsx
  public/JSX/LearningStyles.jsx
  public/JSX/LoadingSpinner.jsx
  public/JSX/LoginForm.jsx
  public/JSX/Navigation.jsx
  public/JSX/PrivateRoute.jsx
  public/JSX/SignUpForm.jsx
  src/components/StudentDashboard.jsx
  src/components/shared/Modal.jsx
  src/components/shared/Toast.jsx
  src/components/shared/styles/Button.css
  src/components/shared/styles/LoadingSpinner.css
  src/components/shared/styles/Modal.css
  src/pages/ParentDashboard.jsx
  src/pages/ParentProfile.jsx
  src/pages/StudentProfile.jsx
  src/pages/StudentProfileForm.jsx
Owners: @project-lead, @tech-lead, @frontend-team

Remove unused components and styles for optimization
  COPILOT.md
  Copilot.md
  public/JSX/Button.jsx
  public/JSX/Card.jsx
  public/JSX/Features.jsx
  public/JSX/Footer.jsx
  public/JSX/Header.jsx
  public/JSX/Hero.jsx
  public/JSX/LearningStyles.jsx
  public/JSX/LoadingSpinner.jsx
  public/JSX/LoginForm.jsx
  public/JSX/Navigation.jsx
  public/JSX/PrivateRoute.jsx
  public/JSX/SignUpForm.jsx
  src/components/StudentDashboard.jsx
  src/components/shared/Modal.jsx
  src/components/shared/Toast.jsx
  src/components/shared/styles/Button.css
  src/components/shared/styles/LoadingSpinner.css
  src/components/shared/styles/Modal.css
  src/pages/ParentDashboard.jsx
  src/pages/ParentProfile.jsx
  src/pages/StudentProfile.jsx
  src/pages/StudentProfileForm.jsx
Owners: @project-lead, @tech-lead, @frontend-team

Remove unused components and styles for a cleaner codebase
  Copilot.md
Owners: @project-lead, @tech-lead

Add index
  public/index.html
  src/main.jsx
Owners: @project-lead, @tech-lead

Add GitHub Actions workflow for Copilot Workspace setup and create development plan document
  .github/workflows/copilot-workspace-setup.yml
  Developmentplan.md
  package-lock.json
Owners: @project-lead, @tech-lead

Update COPILOT.md to reflect new component structure and styling conventions
  Copilot.md
Owners: @project-lead, @tech-lead

Update COPILOT.md to reflect new component structure and styling guidelines
  Copilot.md
Owners: @project-lead, @tech-lead

Update README with additional information section and add Copilot Workspace setup workflow
  .github/workflows/copilot-workspace-setup.yml
  Developmentplan.md
  README.md
Owners: @project-lead, @tech-lead

Fix authcontext.jsx error
  src/App.jsx
  src/components/PrivateRoute.jsx
  src/components/ProtectedRoute.jsx
  src/components/auth/AuthRoute.jsx
  src/components/auth/AuthRoute.tsx
Owners: @project-lead, @tech-lead, @frontend-team

Create devcontainer.json
  .devcontainer/devcontainer.json
Owners: @project-lead, @tech-lead

Delete .devcontainer directory
  .devcontainer/devcontainer.json
Owners: @project-lead, @tech-lead

Delete sdfs
  sdfs
Owners: @project-lead, @tech-lead

Delete sdf
  sdf
Owners: @project-lead, @tech-lead

Add dev container for project
  Dockerfile
  devcontainer.json
Owners: @project-lead, @tech-lead

Update Vite dependency to version 6.0.11 and add styles to Home component
  package-lock.json
  package.json
  src/index.jsx
  src/pages/Home.jsx
Owners: @tech-lead, @project-lead

Add Dockerfile and devcontainer configuration; update AuthContext to handle loading state
  Dockerfile
  devcontainer.json
  src/contexts/AuthContext.jsx
Owners: @project-lead, @tech-lead

Add error boundary to AuthProvider component
  src/index.jsx
Owners: @project-lead, @tech-lead

Fix error in AuthContext.jsx
  src/App.jsx
  src/components/auth/AuthRoute.tsx
  src/contexts/AuthContext.jsx
Owners: @project-lead, @tech-lead, @frontend-team

Wrap AuthProvider with ErrorBoundary in index.jsx
  src/index.jsx
Owners: @project-lead, @tech-lead

Fix callable function checks in AuthContext
  src/contexts/AuthContext.jsx
Owners: @project-lead, @tech-lead

Refactor App component to improve structure, integrate AppRoutes, and enhance error handling with ErrorBoundary
  src/App.jsx
Owners: @project-lead, @tech-lead

fs
  -H
  -d
  fds
  idk
  sdf
  sdfs
Owners: @project-lead, @tech-lead

Implement Firebase storage rules, add Header component with styles, and enhance theme configuration; update environment variables and Firebase initialization for improved functionality.
  .env
  .env.example
  .github/workflows/deploy.yml
  Dockerfile
  backend/api.py
  src/App.jsx
  src/components/Header.jsx
  src/components/Login.jsx
  src/components/layout/Header.jsx
  src/components/shared/ErrorBoundary.jsx
  src/config/env.js
  src/config/firebase.js
  src/contexts/AuthContext.jsx
  src/contexts/ProfileContext.jsx
  src/firebase/config.js
  src/pages/About.jsx
  src/pages/Home.jsx
  src/styles/header.css
  src/theme/theme.js
  src/utils/animations.js
  storage.rules
  vite.config.js
Owners: @project-lead, @tech-lead, @frontend-team

Enhance Header component to include active link styling and improve navigation structure
  src/components/layout/Header.jsx
  src/components/layout/Header.tsx
Owners: @frontend-team

Remove devcontainer and VS Code settings files
  .vscode/settings.json
Owners: @project-lead, @tech-lead

Update COPILOT.md to include GitHub Copilot documentation and ensure no duplicate sections
  COPILOT.md
Owners: @project-lead, @tech-lead

Remove outdated GitHub Copilot documentation files
  COPILOT.md
  Copilot.md
Owners: @project-lead, @tech-lead
