Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @default-owner, @frontend-owner, @backend-owner, @docs-owner, @ci-cd-owner

.github/CODEOWNERS:

# This file specifies the code owners for different parts of the project

# Default code owners for the entire repository
*       @default-owner

# Specific code owners for frontend components
/src/components/ @frontend-owner

# Specific code owners for backend components
/backend/ @backend-owner

# Specific code owners for documentation
/docs/ @docs-owner

# Specific code owners for GitHub Actions workflows
/.github/workflows/ @ci-cd-owner

Remove outdated React codebase documentation files
  codecopy/react_codebase_part1.md
  codecopy/react_codebase_part10.md
  codecopy/react_codebase_part11.md
  codecopy/react_codebase_part12.md
  codecopy/react_codebase_part13.md
  codecopy/react_codebase_part14.md
  codecopy/react_codebase_part15.md
  codecopy/react_codebase_part16.md
  codecopy/react_codebase_part17.md
  codecopy/react_codebase_part18.md
  codecopy/react_codebase_part19.md
  codecopy/react_codebase_part2.md
  codecopy/react_codebase_part21.md
  codecopy/react_codebase_part22.md
  codecopy/react_codebase_part3.md
  codecopy/react_codebase_part4.md
  codecopy/react_codebase_part5.md
  codecopy/react_codebase_part6.md
  codecopy/react_codebase_part7.md
  codecopy/react_codebase_part8.md
  codecopy/react_codebase_summary.md
Owners: @default-owner

Add MongoDB models and services for user, parent, student, assessment, learning plan, and MongoDB operations
  package-lock.json
  package.json
  src/config/dbConfig.ts
  src/models/Assessment.ts
  src/models/LearningPlan.ts
  src/models/Parent.ts
  src/models/Student.ts
  src/models/User.ts
  src/services/mongodbService.ts
  src/services/userService.ts
Owners: @default-owner

Add Supabase integration service, React hook, and utility functions for authentication and course management
  backend/services/supabase_service.py
  src/hooks/useSupabase.ts
  src/lib/supabase-utils.ts
Owners: @backend-owner, @default-owner

Add Docker configurations for frontend and backend, implement Firebase workflows, and create implementation plan for Supabase migration
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  IMPLEMENTATION-PLAN.md
  README-DOCKER.md
  Secrets and variables
  backend/Dockerfile
  backend/__init__.py
  backend/api/routes/assistant_routes.py
  backend/services/crew_service.py
  docker-compose.yml
  frontend/Dockerfile
  src/services/__tests__/aiService.test.ts
  src/services/aiService.ts
Owners: @ci-cd-owner, @default-owner, @backend-owner

Set up Docker containers for Supabase self-hosting
  .env
  backend/services/supabase_service.py
  docker-compose.yml
  src/hooks/useSupabase.ts
  src/lib/supabase-utils.ts
  src/supabaseClient.ts
Owners: @default-owner, @backend-owner

Design new database schema for PostgreSQL
  backend/db/migrations/001_create_users_table.sql
  backend/db/migrations/002_create_learning_styles_table.sql
  backend/db/migrations/003_create_curriculums_table.sql
  backend/db/migrations/004_migrate_firebase_data.sql
  src/services/dataService.ts
  src/supabaseClient.ts
  src/utils/supabase.ts
Owners: @backend-owner, @default-owner

unlock
  package-lock.json
Owners: @default-owner

Update for page loading
  index.html
  localhost-key.pem
  localhost.pem
  package-lock.json
  public/firebase-messaging-sw.js
  public/index.html
  scripts/generate-certs.js
  src/App.tsx
  src/components/agent-ui/learning/CurriculumGenerator.tsx
  src/components/debug/RenderDebugOverlay.tsx
  src/config/firebase.ts
  src/main.tsx
  src/pages/LearningPlan.tsx
  src/pages/profile/StudentProfile/StudentProfileForm.tsx
  src/services/api.js
  src/services/cheshireService.ts
  src/services/firebaseService.ts
  src/services/firestore.ts
  src/services/profileService.ts
  src/services/userService.ts
  src/services/varkService.ts
  src/services/websocketService.ts
  tsconfig.json
  vite.config.js
Owners: @default-owner, @frontend-owner

Redesign core layout and home experience
  UI_REDESIGN_NOTES.md
  src/App.tsx
  src/components/Layout.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/SignUp.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/layout.module.css
  src/index.css
  src/main.tsx
  src/pages/About.tsx
  src/pages/Contact.tsx
  src/pages/Features.tsx
  src/pages/Home.tsx
  src/pages/LearningStyles.tsx
  src/pages/Login.tsx
  src/pages/__tests__/About.test.tsx
  src/pages/__tests__/Features.test.tsx
  src/pages/styles/Contact.css
  src/styles/global.css
  src/test/mockThemes.ts
  src/theme/ThemeModeContext.tsx
  src/theme/theme.ts
  src/types/styled.d.ts
Owners: @default-owner, @frontend-owner

Add React codebase export summary file with generated parts list
  export_repo_content.py
  react_codebase_part1.md
  react_codebase_part12.md
  react_codebase_part13.md
  react_codebase_part2.md
  react_codebase_part3.md
  react_codebase_part4.md
  react_codebase_part5.md
  react_codebase_part6.md
  react_codebase_part8.md
  react_codebase_part9.md
  react_codebase_summary.md
Owners: @default-owner

Harden theme mode and expose Vite on LAN
  UI_REDESIGN_NOTES.md
  src/App.tsx
  src/components/Layout.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/SignUp.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/layout.module.css
  src/index.css
  src/main.tsx
  src/pages/About.tsx
  src/pages/Contact.tsx
  src/pages/Features.tsx
  src/pages/Home.tsx
  src/pages/LearningStyles.tsx
  src/pages/Login.tsx
  src/pages/__tests__/About.test.tsx
  src/pages/__tests__/Features.test.tsx
  src/pages/styles/Contact.css
  src/styles/global.css
  src/test/mockThemes.ts
  src/theme/ThemeModeContext.tsx
  src/theme/theme.ts
  src/types/styled.d.ts
  vite.config.js
Owners: @default-owner, @frontend-owner

Refactor theme mode initialization and storage handling in ThemeModeProvider
  src/theme/ThemeModeContext.tsx
Owners: @default-owner

Fix theme exports and CSP for Vite
  UI_REDESIGN_NOTES.md
  index.html
  public/index.html
  src/App.tsx
  src/components/Layout.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/SignUp.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/layout.module.css
  src/index.css
  src/main.tsx
  src/pages/About.tsx
  src/pages/Contact.tsx
  src/pages/Features.tsx
  src/pages/Home.tsx
  src/pages/LearningStyles.tsx
  src/pages/Login.tsx
  src/pages/__tests__/About.test.tsx
  src/pages/__tests__/Features.test.tsx
  src/pages/styles/Contact.css
  src/styles/global.css
  src/test/mockThemes.ts
  src/theme/ThemeModeContext.tsx
  src/theme/theme.js
  src/theme/theme.ts
  src/types/styled.d.ts
  vite.config.js
Owners: @default-owner, @frontend-owner

Fix theme.js import to avoid circular reference
  UI_REDESIGN_NOTES.md
  index.html
  public/index.html
  src/App.tsx
  src/components/Layout.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/SignUp.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/layout.module.css
  src/index.css
  src/main.tsx
  src/pages/About.tsx
  src/pages/Contact.tsx
  src/pages/Features.tsx
  src/pages/Home.tsx
  src/pages/LearningStyles.tsx
  src/pages/Login.tsx
  src/pages/__tests__/About.test.tsx
  src/pages/__tests__/Features.test.tsx
  src/pages/styles/Contact.css
  src/styles/global.css
  src/test/mockThemes.ts
  src/theme/ThemeModeContext.tsx
  src/theme/theme.js
  src/theme/theme.ts
  src/types/styled.d.ts
  vite.config.js
Owners: @default-owner, @frontend-owner

Update auth context API and consumers
  src/components/Login.tsx
  src/components/auth/LoginForm.tsx
  src/contexts/AuthContext.tsx
  src/pages/Curriculum.tsx
  src/test/testUtils.tsx
  src/types/auth.ts
Owners: @frontend-owner, @default-owner

Refactor Google login button handling
  src/components/GoogleLoginButton.tsx
  src/components/auth/LoginForm.tsx
Owners: @frontend-owner

Fix Google login fallback and button handling
  src/components/GoogleLoginButton.tsx
  src/services/firebaseService.ts
Owners: @frontend-owner, @default-owner

Fix Google login CSP and redirect
  index.html
  src/components/GoogleLoginButton.tsx
  src/pages/Login.tsx
  src/services/firebaseService.ts
Owners: @default-owner, @frontend-owner

Update CSP to allow apis.google.com
  config.toml
  index.html
  public/index.html
  vite.config.js
Owners: @default-owner

Handle auth redirect before ready state
  src/contexts/AuthContext.tsx
Owners: @default-owner

Adjust Google login redirect handling
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
  src/types/auth.ts
Owners: @default-owner

Refactor Vite configuration for improved readability and maintainability
  vite.config.js
Owners: @default-owner

Handle cancelled Google sign-in
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
  src/services/firebaseService.ts
Owners: @default-owner

Handle Google popup cancel without error
  index.html
  src/components/GoogleLoginButton.tsx
  src/pages/Login.tsx
  src/services/firebaseService.ts
Owners: @default-owner, @frontend-owner

Enable React Router v7 future flags
  src/main.tsx
Owners: @default-owner

Add hosting COOP/COEP headers
  firebase.json
Owners: @default-owner

Fix Google login redirect state
  src/contexts/AuthContext.tsx
Owners: @default-owner

Use redirect login with stored destination
  src/contexts/AuthContext.tsx
  src/services/firebaseService.ts
Owners: @default-owner

Add auth resolution timeouts
  src/contexts/AuthContext.tsx
  src/services/firebaseService.ts
Owners: @default-owner

Update PrivateRoute loading handling
  src/components/PrivateRoute.tsx
Owners: @frontend-owner

Adjust login redirect gating
  src/pages/Login.tsx
Owners: @default-owner

Update Vite HMR and CSP for tailnet
  vite.config.js
Owners: @default-owner

Allow localhost in Vite allowed hosts
  vite.config.js
Owners: @default-owner

Fix auth redirect flow and route guards
  src/components/PrivateRoute.tsx
  src/config/firebase.ts
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
  src/services/firebaseService.ts
Owners: @frontend-owner, @default-owner

Update Vite HMR port to 5173 for local development
  vite.config.js
Owners: @default-owner

Fix auth state subscription cleanup
  src/components/PrivateRoute.tsx
  src/config/firebase.ts
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
  src/services/firebaseService.ts
Owners: @frontend-owner, @default-owner

Fix auth state change handler syntax
  src/contexts/AuthContext.tsx
Owners: @default-owner

Fix auth redirects and consolidate login
  src/App.tsx
  src/components/Login.tsx
  src/components/PrivateRoute.tsx
  src/components/auth/AuthRoute.tsx
  src/components/auth/LoginForm.tsx
  src/components/dashboard/Dashboard.tsx
  src/pages/Login.tsx
  src/pages/profile/ParentProfile/CreateStudent.tsx
  src/pages/profile/StudentProfile/StudentProfile.tsx
Owners: @default-owner, @frontend-owner

remove codebase parts script
  geauxacademy/.gitignore
  geauxacademy/main.py
  geauxacademy/requirements.txt
  react_codebase_part1.md
  react_codebase_part12.md
  react_codebase_part13.md
  react_codebase_part2.md
  react_codebase_part3.md
  react_codebase_part4.md
  react_codebase_part5.md
  react_codebase_part6.md
  react_codebase_part8.md
  react_codebase_part9.md
  react_codebase_summary.md
Owners: @default-owner

Fix auth readiness and routing redirects
  src/components/PrivateRoute.tsx
  src/components/auth/AuthRoute.tsx
  src/components/auth/LoginForm.tsx
  src/contexts/AuthContext.tsx
  src/main.tsx
Owners: @frontend-owner, @default-owner
