Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-lead, @frontend-team, @backend-team

refactor: deprecate Theme component and update entry point; transition theme management to Material-UI and Styled-Components
  src/components/Theme.tsx
  src/index.tsx
Owners: @frontend-team, @project-lead, @tech-lead

refactor: remove unused AuthContextType import from AuthContext
  src/contexts/AuthContext.tsx
Owners: @project-lead, @tech-lead

feat: implement Google login functionality and loading state in Curriculum component; enhance UI with styled components
  src/pages/Curriculum.tsx
Owners: @project-lead, @tech-lead

feat: enhance Curriculum component with Google login flow and loading spinner; add unit tests for grade selection and error handling
  src/pages/Curriculum.tsx
  src/pages/__tests__/Curriculum.test.tsx
Owners: @project-lead, @tech-lead

test: add TestWrapper component for improved test structure in Curriculum tests
  src/pages/__tests__/Curriculum.test.tsx
Owners: @project-lead, @tech-lead

test: refactor Curriculum and Home tests to streamline imports and enhance Google login handling
  src/pages/__tests__/Curriculum.test.tsx
  src/pages/__tests__/Home.test.tsx
Owners: @project-lead, @tech-lead

feat: add main entry point for React application with routing and context providers
  src/index.ts
Owners: @project-lead, @tech-lead

test: refactor Curriculum and Home tests to improve structure and enhance Google login handling
  src/pages/__tests__/Curriculum.test.tsx
  src/pages/__tests__/Home.test.tsx
Owners: @project-lead, @tech-lead

Fix TypeError in Curriculum.test.tsx
  src/pages/__tests__/Curriculum.test.tsx
Owners: @project-lead, @tech-lead

feat: add MyContext and MyProvider for application state management
  src/contexts/MyContext.tsx
Owners: @project-lead, @tech-lead

feat: update testing scripts and add CI workflow for Firebase emulators
  .github/workflows/ci.yml
  package.json
  scripts/start-emulators.js
Owners: @project-lead, @tech-lead

feat: fix import path for MyProvider and update Curriculum tests to use it
  src/components/MyProvider.tsx
  src/pages/__tests__/Curriculum.test.tsx
Owners: @frontend-team, @project-lead, @tech-lead

refactor: remove Curriculum tests as they are no longer needed
  src/pages/__tests__/Curriculum.test.tsx
Owners: @project-lead, @tech-lead

Fix test errors in backend and frontend
  backend/tests/test_users.py
  src/components/GoogleLoginButton.test.tsx
  src/pages/__tests__/Home.test.tsx
  src/pages/__tests__/LearningStyles.test.tsx
Owners: @project-lead, @tech-lead, @frontend-team

feat: integrate BrowserRouter in MyProvider and enhance test utilities for routing support
  src/components/MyProvider.tsx
  src/pages/__tests__/Curriculum.test.tsx
  src/test/testUtils.tsx
Owners: @frontend-team, @project-lead, @tech-lead

Fix test errors related to unused variables
  package.json
  src/pages/__tests__/About.test.tsx
  src/pages/__tests__/Contact.test.tsx
  src/pages/__tests__/Curriculum.test.tsx
  src/pages/__tests__/Features.test.tsx
  src/pages/__tests__/Home.test.tsx
  src/test/testUtils.tsx
Owners: @tech-lead, @project-lead

feat: add GitHub Actions workflow for development deployment
  .github/workflows/dev-deploy.yml
Owners: @project-lead, @tech-lead

feat: update Rollup configuration and dependencies for improved build process
  package-lock.json
  package.json
  rollup.config.js
Owners: @tech-lead

feat: add TypeScript support with Babel configuration and dependencies
  babel.config.js
  package-lock.json
  package.json
Owners: @tech-lead

feat: update lefthook version and add configuration file
  lefthook.yml
  package-lock.json
  package.json
Owners: @project-lead, @tech-lead

feat: add submodule for Geaux-flo backend repository
  .gitmodules
Owners: @project-lead, @tech-lead

feat: add new submodules for geaux-crewai and geauxcat backend repositories
  .gitmodules
Owners: @project-lead, @tech-lead

feat: update Babel and TypeScript dependencies in package.json
  babel.config.cjs
  package-lock.json
  package.json
Owners: @project-lead, @tech-lead

feat: migrate Babel configuration from babel.config.js to babel.config.cjs
  babel.config.cjs
  babel.config.js
Owners: @project-lead, @tech-lead

feat: update GitHub Actions workflow for deployment to use main branch and Firebase action
  .github/workflows/dev-deploy.yml
Owners: @project-lead, @tech-lead

feat: update build process and enhance Firebase messaging service worker configuration
  .cert/cert.pem
  .cert/key.pem
  .env
  package-lock.json
  package.json
  scripts/prepare-service-worker.js
  src/firebase/firebase-messaging-sw.ts
  src/firebase/messaging-utils.ts
Owners: @project-lead, @tech-lead

Fix and authenticate Firebase service worker
  public/firebase-config.js
  src/firebase/auth-service-worker.ts
  src/firebase/config.ts
  src/index.tsx
  src/main.tsx
Owners: @project-lead, @tech-lead

Fix service worker to pull correct API key for Firebase cloud messaging
  public/firebase-config.js
  scripts/prepare-service-worker.js
  src/firebase/config.ts
  src/firebase/firebase-messaging-sw.ts
Owners: @project-lead, @tech-lead

Optimize performance and reduce initial load time in `src/App.tsx`
  src/App.tsx
Owners: @project-lead, @tech-lead

Consolidate Firebase deployment workflows
  .github/workflows/firebase-deploy.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/main.yml
Owners: @project-lead, @tech-lead

feat: update Firebase messaging service worker to use latest SDK and correct configuration
  public/firebase-messaging-sw.js
Owners: @project-lead, @tech-lead

feat: implement HTTPS development server and update service worker registration logic
  .cert/cert.pem
  .cert/key.pem
  cert/localhost.crt
  cert/localhost.key
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  scripts/dev-server.js
  src/App.tsx
Owners: @project-lead, @tech-lead

chore: update SSL certificate and private key files
  .cert/cert.pem
  .cert/key.pem
Owners: @project-lead, @tech-lead

feat: enhance service worker registration logic for secure contexts and improve error handling
  src/App.tsx
Owners: @project-lead, @tech-lead

feat: add Firebase configuration to environment and update firebase-config.js to use environment variables
  .env
  public/firebase-config.js
Owners: @project-lead, @tech-lead

feat: update SSL certificate and private key, refactor AuthContext for improved error handling
  .cert/cert.pem
  .cert/key.pem
  src/contexts/AuthContext.tsx
  src/main.tsx
Owners: @project-lead, @tech-lead

feat: update SSL certificate paths and enhance service worker registration logic
  public/firebase-messaging-sw.js
  src/App.tsx
  vite.config.js
Owners: @project-lead, @tech-lead

Fix errors in various files
  backend/api.py
  backend/main.py
  src/components/auth/LoginForm.tsx
  src/components/auth/SignUp.tsx
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
  src/index.tsx
  src/main.tsx
Owners: @project-lead, @tech-lead, @frontend-team

feat: implement user authentication API and integrate Firebase services
  .cert/cert.pem
  .cert/key.pem
  backend/api/dependencies.py
  backend/api/routes/agent_routes.py
  backend/api/routes/user_routes.py
  backend/api/routes/users.py
  backend/api/websockets.py
  backend/cheshire_cat/plugins/curriculum_designer/main.py
  backend/crewai/agents/base_agent.py
  backend/crewai/agents/memory_augmented_agent.py
  backend/crewai/agents/teacher_agent
  backend/crewai/orchestrator/task_manager.py
  backend/crewai/tools/prompt_chaining.py
  src/components/agent-ui/AgentTaskCreator.tsx
  src/components/agent-ui/RealtimeTaskViewer.tsx
  src/components/agent-ui/learning/CurriculumGenerator.tsx
  src/components/memory/MemoryViewer.tsx
  src/hooks/useAgentTask.ts
  src/hooks/useTaskWebSocket.ts
  src/services/agentService.ts
  src/services/firebaseService.ts
  src/services/mongoService.ts
Owners: @project-lead, @tech-lead, @frontend-team

feat: add Babel configuration, Firebase setup, and new components for chat functionality
  .github/prompts/geaux-academy-claude-prompt.md
  .github/prompts/geaux-academy-dev.prompt.md
  babel.config.cjs
  backend/api/websockets.py
  backend/crewai/agents/teacher_agent.py
  backend/tests/test_websockets.py
  jest.config.js
  package-lock.json
  package.json
  src/components/VARKAssessment/ChatContainer.tsx
  src/components/VARKAssessment/ChatInput.tsx
  src/components/VARKAssessment/ChatMessage.tsx
  src/components/VARKAssessment/TypingIndicator.tsx
  src/components/VARKAssessment/VARKResults.tsx
  src/components/agent-ui/learning/CurriculumGenerator.tsx
  src/components/agent-ui/learning/CurriculumViewer.tsx
  src/components/agent-ui/learning/__tests__/CurriculumGenerator.integration.test.tsx
  src/components/agent-ui/learning/__tests__/CurriculumViewer.test.tsx
  src/components/common/ConnectionStatus.tsx
  src/components/common/__tests__/ConnectionStatus.test.tsx
  src/components/error-boundaries/WebSocketErrorBoundary.tsx
  src/components/error-boundaries/__tests__/WebSocketErrorBoundary.test.tsx
  src/config/firebase.ts
  src/contexts/AuthContext.tsx
  src/hooks/__tests__/useTaskWebSocket.test.ts
  src/hooks/useTaskWebSocket.ts
  src/hooks/useVARKAssessment.ts
  src/services/__tests__/websocketService.reconnect.test.ts
  src/services/__tests__/websocketService.test.ts
  src/services/varkService.ts
  src/services/websocketService.ts
  src/test/mocks/WebSocketMock.ts
  src/test/setupTests.ts
  src/types/auth.ts
  src/types/task.ts
  tsconfig.json
Owners: @project-lead, @tech-lead, @frontend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-lead @tech-lead

# Frontend specific files
/src/components/  @frontend-team
/src/styles/      @frontend-team

# Backend specific files
/server/          @backend-team

# Configuration files
/*.config.js      @tech-lead
/*.json           @tech-lead
