Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-lead, @frontend-team, @backend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-lead @tech-lead

# Frontend specific files
/src/components/  @frontend-team
/src/styles/      @frontend-team

# Backend specific files
/server/          @backend-team

# Configuration files
/*.config.js      @tech-lead
/*.json           @tech-lead

Add comprehensive Development Guide with architecture overview, roadmap, guidelines, and environment setup
  DEVELOPMENT_GUIDE.md
Owners: @project-lead, @tech-lead

Consolidate and remove duplicate files
  AuthRoute.tsx
  src/components/auth/auth.css
  src/components/common/Modal.tsx
  src/components/common/Toast.tsx
  src/components/shared/LoadingSpinner.tsx
  src/components/shared/shared.module.css
  src/components/shared/styles/Button.css
Owners: @project-lead, @tech-lead, @frontend-team

Consolidate and remove duplicate files
  src/components/Layout.tsx
  src/components/auth/SignUp.d.ts
  src/components/layout/layout.module.css
  src/components/shared/Modal.tsx
  src/components/shared/Toast.tsx
  src/components/shared/shared.module.css
Owners: @frontend-team

Add Cheshire API integration, update dependencies, and improve test setup
  .env
  .github/workflows/deploy.yml
  functions/package.json
  package-lock.json
  package.json
  src/App.tsx
  src/components/CourseCard.tsx
  src/components/PrivateRoute.tsx
  src/components/chat/LearningStyleChat.tsx
  src/components/common/Card.tsx
  src/components/common/Modal.tsx
  src/components/common/Toast.tsx
  src/components/layout/Layout.tsx
  src/components/student/StudentCard.tsx
  src/env.d.ts
  src/pages/Contact.tsx
  src/services/cheshireService.ts
  src/services/profileService.ts
  src/test/setup.ts
  src/theme/theme.ts
  src/types/styled.d.ts
  vite.config.js
Owners: @project-lead, @tech-lead, @frontend-team

Refactor chat components, add ChatUI, and update authentication types
  .env
  Learingstyle
  public/logo.png
  src/App.tsx
  src/components/auth/SignUp.tsx
  src/components/chat/ChatUI.css
  src/components/chat/ChatUI.tsx
  src/components/chat/LearningStyleChat.tsx
  src/components/chat/TestChat.tsx
  src/contexts/AuthContext.tsx
  src/env.d.ts
  src/pages/Login.tsx
  src/services/cheshireService.ts
  src/types/auth.ts
Owners: @project-lead, @tech-lead, @frontend-team

Refactor authentication context imports, update CORS configuration, and deprecate old AuthContext file
  backend/api.py
  src/components/layout/Header.tsx
  src/contexts/AuthContext.jsx
  src/contexts/AuthContext.tsx
  src/env.d.ts
  src/index.tsx
  src/pages/Login.tsx
  src/services/cheshireService.ts
  src/types/auth.ts
  vite.config.js
Owners: @project-lead, @tech-lead, @frontend-team

Refactor AuthContext imports, update layout styles, and add TypeScript configuration
  src/components/layout/Header.tsx
  src/components/layout/layout.module.css
  src/contexts/AuthContext.jsx
  tsconfig.json
  tsconfig.node.json
Owners: @frontend-team, @project-lead, @tech-lead

Remove unnecessary headers from CheshireService API call
  .env.example
  TIPI_DEVELOPMENT.md
  src/env.d.ts
  src/services/cheshireService.ts
  test_chat.sh
  vite.config.js
Owners: @project-lead, @tech-lead

Update environment configuration, enhance CheshireService authentication, and improve error handling
  .env
  .env.example
  src/services/cheshireService.ts
Owners: @project-lead, @tech-lead

chore: update VSCode settings and add GitHub Copilot instructions for code generation and review
  .github/copilot-instructions.md
  .vscode/settings.json
  instructions.md
Owners: @project-lead, @tech-lead

chore: update vite version to 6.1.0 in package.json and package-lock.json
  package-lock.json
  package.json
Owners: @tech-lead

feat: enhance Google login with improved error handling and popup management
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
  src/types/auth.ts
  vite.config.js
Owners: @project-lead, @tech-lead

chore: remove outdated CI/CD workflows and add new CI/CD pipeline configuration
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup.yml
  .github/workflows/copilot-workspace-setup.yml
  .github/workflows/deploy.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Owners: @project-lead, @tech-lead

feat: add @types/firebase for improved TypeScript support and update AuthContext import
  package-lock.json
  package.json
  src/contexts/AuthContext.tsx
Owners: @tech-lead, @project-lead

feat: update environment variables in .env.example and Dockerfile for better configuration management
  .env.example
  .github/workflows/ci-cd.yml
  Dockerfile
  backend/api.py
  src/config/env.js
Owners: @project-lead, @tech-lead

Secure sensitive keys in configuration files
  .env
  .env.example
  .github/workflows/ci-cd.yml
  Dockerfile
  backend/api.py
  src/config/env.js
Owners: @project-lead, @tech-lead

feat: fallback to production URL for CHESHIRE_API_URL if environment variable is not set
  src/services/cheshireService.ts
Owners: @project-lead, @tech-lead

feat: add CORS middleware to allow requests from localhost for development
  backend/main.py
Owners: @project-lead, @tech-lead

feat: update CI/CD configuration and Dockerfile for enhanced environment variable management
  .github/workflows/ci-cd.yml
  Dockerfile
  devcontainer.json
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
Owners: @project-lead, @tech-lead

feat: refactor Firebase configuration to support environment-specific settings for production and development
  src/firebase/config.ts
  vite.config.js
Owners: @project-lead, @tech-lead

feat: update Firebase and TypeScript configurations for improved type safety and environment management
  .github/workflows/ci-cd.yml
  package-lock.json
  package.json
  src/firebase/config.ts
  tsconfig.json
Owners: @project-lead, @tech-lead

feat: add @types/firebase and update TypeScript configuration for improved type definitions
  functions/package-lock.json
  functions/package.json
  functions/tsconfig.json
Owners: @project-lead, @tech-lead

feat: add @genkit-ai/googleai dependency for enhanced AI capabilities
  functions/package-lock.json
  functions/package.json
  package-lock.json
Owners: @project-lead, @tech-lead

Fix fetch error in login function
  src/firebase/config.ts
  src/services/api.js
  src/services/cheshireService.ts
Owners: @project-lead, @tech-lead

feat: initialize Firebase with Analytics and update configuration for Vite compatibility
  package-lock.json
  src/firebase/config.ts
  src/firebase/firebaseInit.ts
Owners: @tech-lead, @project-lead

feat: update .gitignore to exclude .env and firebaseInit files
  functions/.gitignore
Owners: @project-lead, @tech-lead

Fix dependency conflict with genkit and @genkit-ai/googleai
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Owners: @project-lead, @tech-lead

feat: add documentation comments to PrivateRoute component for clarity
  src/components/PrivateRoute.tsx
Owners: @frontend-team

Update Firebase configuration with provided values
  .env
  .env.example
  src/firebase/firebaseInit.ts
Owners: @project-lead, @tech-lead

feat: configure Jest for testing and update Firebase initialization with environment variables
  .github/workflows/ci-cd.yml
  jest.config.js
  package-lock.json
  package.json
  src/components/GoogleLoginButton.test.tsx
  src/firebase/firebaseInit.ts
  src/test/setup.ts
  tsconfig.json
Owners: @project-lead, @tech-lead, @frontend-team

chore: simplify CI/CD workflow and update package dependencies
  .github/workflows/ci-cd.yml
  package.json
Owners: @project-lead, @tech-lead

chore: update CI/CD workflow to use latest actions and Node.js version
  .github/workflows/ci-cd.yml
Owners: @project-lead, @tech-lead

refactor: remove unused imports from connector configuration files
  dataconnect-generated/js/default-connector/esm/index.esm.js
  dataconnect-generated/js/default-connector/index.cjs.js
Owners: @project-lead, @tech-lead

feat: add Firebase CLI installation step and update deploy command in CI/CD workflow
  .github/workflows/ci-cd.yml
Owners: @project-lead, @tech-lead

feat: add Firebase authentication step and update deployment process in CI/CD workflow
  .github/workflows/ci-cd.yml
Owners: @project-lead, @tech-lead

feat: update CI/CD workflow to streamline Firebase deployment process
  .github/workflows/ci-cd.yml
Owners: @project-lead, @tech-lead

feat: enhance Google authentication flow and add Firebase hosting deployment workflow
  .github/workflows/firebase-hosting-merge.yml
  firebase.json
  src/contexts/AuthContext.tsx
  src/firebase/firebaseInit.ts
Owners: @project-lead, @tech-lead

feat: implement improved Google sign-in flow with service worker support
  public/firebase-messaging-sw.js
  src/contexts/AuthContext.tsx
  src/firebase/firebaseInit.ts
Owners: @project-lead, @tech-lead

feat: enhance Firebase service worker for improved popup handling and error logging
  public/firebase-messaging-sw.js
Owners: @project-lead, @tech-lead

feat: enhance Firebase service worker and configuration for improved popup handling and error management
  public/firebase-messaging-sw.js
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
Owners: @project-lead, @tech-lead
