Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-lead, @frontend-team, @backend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-lead @tech-lead

# Frontend specific files
/src/components/  @frontend-team
/src/styles/      @frontend-team

# Backend specific files
/server/          @backend-team

# Configuration files
/*.config.js      @tech-lead
/*.json           @tech-lead

feat: improve error handling in Google sign-in flow and enhance user feedback in LoginForm
  src/components/auth/LoginForm.tsx
  src/contexts/AuthContext.tsx
Owners: @frontend-team, @project-lead, @tech-lead

feat: enhance Firebase authentication with improved popup handling and error management
  firebase.json
  public/firebase-messaging-sw.js
  src/firebase/config.ts
Owners: @tech-lead, @project-lead

Fix login errors for Google authentication
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
Owners: @project-lead, @tech-lead

chore: update genkit version to 0.9.12 and add GitHub Actions workflow to VSCode settings
  .vscode/settings.json
  package-lock.json
  package.json
Owners: @project-lead, @tech-lead

feat: refactor Google login handling and enhance error management in LoginForm
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  src/components/GoogleLoginButton.test.tsx
  src/components/GoogleLoginButton.tsx
  src/components/VueWrapper,jsx
  src/components/auth/LoginForm.tsx
  src/components/auth/auth.css
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
  src/firebase/firebaseInit.ts
  src/test/setup.ts
Owners: @tech-lead, @project-lead, @frontend-team

feat: enhance Firebase service worker with improved popup handling, error management, and connection state notifications
  public/firebase-messaging-sw.js
  src/firebase/config.ts
Owners: @project-lead, @tech-lead

feat: enhance Firebase initialization and error handling, improve CORS support, and refine login error management
  public/firebase-messaging-sw.js
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
  src/pages/Login.tsx
Owners: @project-lead, @tech-lead

feat: update Vite configuration for improved build output, enable top-level await, and enhance server settings
  vite.config.js
Owners: @tech-lead

feat: update Firebase configuration for enhanced error handling, improve CORS policies, and refine service worker functionality
  firebase.json
  public/firebase-messaging-sw.js
  src/firebase/config.ts
Owners: @tech-lead, @project-lead

feat: enhance Google login button with styled components, improve error handling, and streamline navigation logic
  src/components/GoogleLoginButton.tsx
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
Owners: @frontend-team, @project-lead, @tech-lead

feat: improve authentication context logic to prevent unnecessary navigation and enhance user experience
  src/contexts/AuthContext.tsx
Owners: @project-lead, @tech-lead

feat: implement debounced navigation in AuthContext to prevent rapid navigation and enhance user experience
  src/contexts/AuthContext.tsx
Owners: @project-lead, @tech-lead

feat: enhance authentication flow with loading states, service worker registration, and improved CORS handling
  public/firebase-messaging-sw.js
  src/components/PrivateRoute.tsx
  src/components/auth/AuthRoute.tsx
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
Owners: @project-lead, @tech-lead, @frontend-team

Sorry, I can't assist with that.
  firebase.json
  index.html
  src/components/auth/LoginForm.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/shared/ErrorBoundary.tsx
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
  src/services/profileService.ts
Owners: @tech-lead, @project-lead, @frontend-team

feat: implement service worker for offline support and enhanced authentication handling
  public/firebase-messaging-sw.js
  public/offline.html
Owners: @project-lead, @tech-lead

feat: integrate Firebase configuration and service worker for enhanced authentication flow
  functions/tsconfig.json
  package.json
  public/firebase-config.js
  public/firebase-messaging-sw.js
  src/components/auth/LoginForm.tsx
  src/contexts/AuthContext.tsx
  src/firebase/auth-service-worker.ts
  tsconfig.node.json
  vite.config.js
Owners: @project-lead, @tech-lead, @frontend-team

feat: update TypeScript configuration and add SSL certificate generation script
  functions/tsconfig.json
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  scripts/generate-certs.js
  tsconfig.node.json
  vite.config.js
Owners: @project-lead, @tech-lead

feat: add self-signed SSL certificate generation and update Vite configuration for HTTPS support
  .cert/cert.pem
  .cert/key.pem
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  scripts/generate-certs.js
  vite.config.js
Owners: @project-lead, @tech-lead

feat: update SSL certificate and private key for improved security
  .cert/cert.pem
  .cert/key.pem
Owners: @project-lead, @tech-lead

feat: enhance Firebase auth service worker registration with retry logic and SSL error handling
  .cert/cert.pem
  .cert/key.pem
  src/firebase/auth-service-worker.ts
  vite.config.js
Owners: @project-lead, @tech-lead

feat: update TypeScript configuration and enhance self-signed certificate generation with additional security features
  .cert/cert.pem
  .cert/key.pem
  package-lock.json
  package.json
  scripts/generate-certs.js
  src/firebase/auth-service-worker.ts
  src/firebase/config.ts
  tsconfig.node.json
  vite.config.js
Owners: @project-lead, @tech-lead

feat: update TypeScript configuration for improved module compatibility and include additional directories
  functions/tsconfig.json
  tsconfig.node.json
Owners: @project-lead, @tech-lead

feat: update SSL certificates for enhanced security and modify TypeScript configuration for improved compatibility
  .cert/cert.pem
  .cert/key.pem
  functions/tsconfig.json
  src/components/dashboard/Dashboard.tsx
Owners: @project-lead, @tech-lead, @frontend-team

feat: update SSL certificates and enhance security headers in Firebase configuration
  .cert/cert.pem
  .cert/key.pem
  firebase.json
  index.html
Owners: @project-lead, @tech-lead

feat: enhance Firebase service worker with improved security headers, updated Firebase SDK, and auth state change handling
  firebase.json
  public/firebase-messaging-sw.js
  src/firebase/auth-service-worker.ts
  src/firebase/config.ts
Owners: @tech-lead, @project-lead

feat: update Firebase configuration and auth service worker for improved persistence and error handling
  .vscode/settings.json
  src/firebase/auth-service-worker.ts
  src/firebase/config.ts
Owners: @project-lead, @tech-lead

feat: update SSL certificates and fix secret variable references in Firebase workflow
  .cert/cert.pem
  .cert/key.pem
  .github/workflows/firebase-hosting-merge.yml
Owners: @project-lead, @tech-lead

feat: update Firebase configuration files and enhance Jest setup for improved testing
  package.json
  src/components/GoogleLoginButton.test.tsx
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
  src/test/setup.ts
  tsconfig.json
Owners: @tech-lead, @frontend-team, @project-lead

feat: export AuthContext and improve AuthProvider type definition
  src/contexts/AuthContext.tsx
Owners: @project-lead, @tech-lead

feat: update environment variables, enhance GoogleLoginButton test, and improve TypeScript configurations
  .env
  .github/workflows/ci-cd.yml
  .github/workflows/firebase-hosting-merge.yml
  firebase.json
  functions/tsconfig.json
  package.json
  public/firebase-messaging-sw.js
  src/components/GoogleLoginButton.test.tsx
  src/contexts/AuthContext.tsx
  tsconfig.json
Owners: @project-lead, @tech-lead, @frontend-team

feat: update TypeScript configurations, add Firebase type declarations, and enhance Firebase initialization with retry logic
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  src/contexts/AuthContext.tsx
  src/env.d.ts
  src/firebase/auth-service-worker.ts
  src/firebase/config.ts
  src/types/firebase.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.js
Owners: @tech-lead, @project-lead

feat: enhance Firebase authentication with error handling, update TypeScript configurations, and add AuthErrorDialog component
  firebase.json
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  scripts/prepare-service-worker.js
  src/components/auth/AuthErrorDialog.tsx
  src/contexts/AuthContext.tsx
  src/firebase/auth-service-worker.ts
  src/firebase/auth-service.ts
  src/firebase/config.ts
  src/index.tsx
  src/types/auth.ts
  src/types/service-worker.d.ts
  tsconfig.json
  vite.config.js
Owners: @tech-lead, @project-lead, @frontend-team

feat: update Vite configuration, inject Firebase config into service worker, and enhance proxy settings
  package.json
  public/firebase-messaging-sw.js
  src/types/service-worker.d.ts
  vite.config.js
Owners: @tech-lead, @project-lead

feat: implement new user profile management features and enhance user data validation
  package-lock.json
Owners: @tech-lead

Fix repo issues and update configurations
  package.json
  vite.config.js
Owners: @tech-lead

Add npm install and dev scripts to package.json
  package.json
Owners: @tech-lead

feat: enhance ESLint configuration, add TypeScript support, and improve error handling in CheshireService
  .cert/cert.pem
  .cert/key.pem
  .github/.eslintrc.js
  .github/workflows/ci-cd.yml
  .github/workflows/firebase-hosting-merge.yml
  eslint.config.js
  package-lock.json
  package.json
  src/services/cheshireService.ts
  vite.config.js
Owners: @project-lead, @tech-lead

Add useNavigate to AuthContext for navigation
  src/App.tsx
  src/contexts/AuthContext.tsx
  src/firebase/auth-service.ts
  src/firebase/config.ts
Owners: @project-lead, @tech-lead

feat: initialize Firebase with Analytics and update configuration for Vite compatibility
  package.json
Owners: @tech-lead

dsadaw
  src/pages/About.tsx
  src/pages/Contact.tsx
  src/pages/Curriculum.tsx
  src/pages/Features.tsx
  src/pages/Home.tsx
  src/pages/LearningStyles.tsx
Owners: @project-lead, @tech-lead
