Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @tech-lead, @frontend-team, @backend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-lead @tech-lead

# Frontend specific files
/src/components/  @frontend-team
/src/styles/      @frontend-team

# Backend specific files
/server/          @backend-team

# Configuration files
/*.config.js      @tech-lead
/*.json           @tech-lead

feat: add user authentication API and corresponding unit tests for profile retrieval
  backend/routes/users.py
  backend/tests/test_users.py
  src/pages/__tests__/About.test.tsx
  src/pages/__tests__/Contact.test.tsx
  src/pages/__tests__/Curriculum.test.tsx
  src/pages/__tests__/Features.test.tsx
  src/pages/__tests__/Home.test.tsx
  src/pages/__tests__/LearningStyles.test.tsx
Owners: @project-lead, @tech-lead

feat: add initial files for Actions, Secrets and variables, geaux-academy, and Vite
  Actions
  Secrets and variables
  geaux-academy@0.0.0
  vite
Owners: @project-lead, @tech-lead

feat: update package.json with Node and npm engine requirements, enhance install scripts, and add CI workflow
  .cert/cert.pem
  .cert/key.pem
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/contexts/ProfileContext.tsx
Owners: @project-lead, @tech-lead

fix: resolve merge conflicts in package.json and clean up dependencies
  package.json
Owners: @tech-lead

feat: update certificate generation script to include country and organization attributes
  .cert/cert.pem
  .cert/key.pem
  scripts/generate-certs.js
Owners: @project-lead, @tech-lead

feat: enhance Vite configuration for HTTPS support and add Content Security Policy
  .cert/cert.pem
  .cert/key.pem
  package-lock.json
  vite.config.js
Owners: @project-lead, @tech-lead

fix: correct typo in apphosting.yaml and update dependencies in package.json
  .cert/cert.pem
  .cert/key.pem
  apphosting.yaml
  package-lock.json
  package.json
Owners: @project-lead, @tech-lead

feat: refactor LearningStyles component to use motion for animations and update package.json dependencies
  package.json
  src/pages/LearningStyles.tsx
  src/pages/__tests__/About.test.tsx
Owners: @tech-lead, @project-lead

feat: enhance authentication flow with Google sign-in and add sign-out functionality; update About page tests
  package.json
  src/contexts/AuthContext.tsx
  src/firebase/auth-service.ts
  src/pages/LearningStyles.tsx
  src/pages/__tests__/About.test.tsx
Owners: @tech-lead, @project-lead

feat: update authentication context and private route; add profile context provider and adjust debug settings
  .cert/cert.pem
  .cert/key.pem
  .env
  package-lock.json
  package.json
  src/App.tsx
  src/components/PrivateRoute.tsx
  src/contexts/AuthContext.tsx
  src/contexts/ProfileContext.tsx
Owners: @project-lead, @tech-lead, @frontend-team

feat: update certificate and key files; improve About page test setup and add jest-dom types
  .cert/cert.pem
  .cert/key.pem
  src/pages/__tests__/About.test.tsx
  tsconfig.json
Owners: @project-lead, @tech-lead

feat: update certificate and key files; refactor App component structure and improve authentication flow
  .cert/cert.pem
  .cert/key.pem
  src/App.tsx
  src/contexts/AuthContext.tsx
Owners: @project-lead, @tech-lead

feat: update certificate and key files; refactor App component and improve entry point setup
  .cert/cert.pem
  .cert/key.pem
  src/App.tsx
  src/index.tsx
Owners: @project-lead, @tech-lead

feat: update certificate and key files; enhance AuthContext with error handling and clearError method
  .cert/cert.pem
  .cert/key.pem
  src/contexts/AuthContext.tsx
Owners: @project-lead, @tech-lead

feat: update certificate and key files; modify authentication service to improve Google sign-in error handling and update CSP in firebase.json
  .cert/cert.pem
  .cert/key.pem
  firebase.json
  src/contexts/AuthContext.tsx
  src/firebase/auth-service.ts
Owners: @project-lead, @tech-lead

feat: update Vite config for Firebase messaging service worker; enhance App component with service worker registration; improve error handling in SignUp and Login components
  .cert/cert.pem
  .cert/key.pem
  src/App.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/SignUp.tsx
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
  src/pages/Login.tsx
  vite.config.js
Owners: @project-lead, @tech-lead, @frontend-team

feat: initialize Firebase app and Firestore with persistence; update Firestore service methods; modify TypeScript configuration and package dependencies
  .nvmrc
  package-lock.json
  package.json
  src/App.tsx
  src/firebase/config.ts
  src/services/firestore.ts
  tsconfig.json
  vite.config.js
Owners: @project-lead, @tech-lead

feat: update prepare script to use husky for Git hooks management
  package-lock.json
  package.json
Owners: @tech-lead

feat: update prepare script to ensure husky installs only if git directory is valid
  package.json
Owners: @tech-lead

feat: update Node.js engine requirement and add husky as a dependency
  package-lock.json
  package.json
Owners: @tech-lead

feat: add @types/firebase-client and @types/q dependencies; clean up unused imports in various components
  package-lock.json
  package.json
  src/pages/Curriculum.tsx
  src/pages/Home.tsx
  src/pages/LearningStyles.tsx
  src/pages/__tests__/About.test.tsx
  src/test/setup.ts
  tsconfig.json
Owners: @tech-lead, @project-lead

feat: update Jest configuration and remove deprecated Firebase type definitions; add @firebase/app-types dependency
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
Owners: @tech-lead

feat: refactor authentication logic and enhance Home component layout; add unit tests for Home component
  src/contexts/AuthContext.tsx
  src/firebase/auth-service.ts
  src/pages/Home.tsx
  src/pages/__tests__/Home.test.tsx
Owners: @project-lead, @tech-lead

feat: add unit tests for Curriculum component and implement custom theme with breakpoint helpers
  src/pages/__tests__/Curriculum.test.tsx
  src/theme/index.tsx
Owners: @project-lead, @tech-lead

feat: update certificate and key files; enhance Curriculum component tests with improved theme and assertions
  .cert/cert.pem
  .cert/key.pem
  src/pages/__tests__/Curriculum.test.tsx
Owners: @project-lead, @tech-lead

feat: enhance unit tests for About, Contact, and Home components with theme providers and improved assertions
  src/pages/__tests__/About.test.tsx
  src/pages/__tests__/Contact.test.tsx
  src/pages/__tests__/Home.test.tsx
Owners: @project-lead, @tech-lead

feat: add common test utilities and setup for theme providers; enhance unit tests for Features and LearningStyles components
  .cert/cert.pem
  .cert/key.pem
  .github/workflows/cd.yml
  src/App.tsx
  src/firebase/config.ts
  src/pages/__tests__/Features.test.tsx
  src/pages/__tests__/LearningStyles.test.tsx
  src/test/testUtils.tsx
  vite.config.js
Owners: @project-lead, @tech-lead

feat: update Firebase configuration for Firestore persistence; refactor Firestore service to use centralized db instance; enhance profile service and tsconfig settings
  .cert/cert.pem
  .cert/key.pem
  src/firebase/config.ts
  src/services/firestore.ts
  src/services/profileService.ts
  tsconfig.json
Owners: @project-lead, @tech-lead

feat: add main HTML file with updated CSP to allow external scripts from googleapis.com
  public/index.html
Owners: @project-lead, @tech-lead

feat: update certificate and key files with new values
  .cert/cert.pem
  .cert/key.pem
Owners: @project-lead, @tech-lead

feat: enhance Firebase authentication flow with error handling and initialization checks; update CSP in HTML and Vite config for improved security
  .cert/cert.pem
  .cert/key.pem
  public/firebase-messaging-sw.js
  public/index.html
  src/firebase/auth-service.ts
  src/firebase/config.ts
  vite.config.js
Owners: @project-lead, @tech-lead

feat: implement service worker preparation script with Firebase configuration; enhance auth service worker initialization and error handling; update Vite config for improved security policies
  scripts/prepare-service-worker.js
  src/firebase/auth-service-worker.ts
  src/firebase/auth-service.ts
  vite.config.js
Owners: @project-lead, @tech-lead

feat: update certificate and key files; enhance Firestore initialization with persistent cache settings; refactor main entry point to use React 18's createRoot and add BrowserRouter
  .cert/cert.pem
  .cert/key.pem
  src/firebase/config.ts
  src/main.tsx
Owners: @project-lead, @tech-lead

feat: refactor test files to simplify imports and enhance readability; update Firebase configuration for improved authentication handling
  src/components/GoogleLoginButton.test.tsx
  src/firebase/config.ts
  src/pages/__tests__/About.test.tsx
  src/pages/__tests__/Contact.test.tsx
  src/pages/__tests__/Features.test.tsx
  src/pages/__tests__/Home.test.tsx
  src/pages/__tests__/LearningStyles.test.tsx
  src/test/testUtils.tsx
Owners: @frontend-team, @project-lead, @tech-lead

feat: refactor unit tests to improve structure and readability; replace direct renders with renderWithProviders for consistent context usage
  src/components/GoogleLoginButton.test.tsx
  src/pages/__tests__/About.test.tsx
  src/pages/__tests__/Contact.test.tsx
  src/pages/__tests__/Curriculum.test.tsx
  src/pages/__tests__/Features.test.tsx
  src/pages/__tests__/Home.test.tsx
  src/pages/__tests__/LearningStyles.test.tsx
  src/test/testUtils.tsx
Owners: @frontend-team, @project-lead, @tech-lead

feat: update tsconfig to disable emitting files; improve build process consistency
  tsconfig.json
Owners: @tech-lead

feat: update build script to remove TypeScript compilation; adjust tsconfig for declaration settings
  package.json
  tsconfig.json
Owners: @tech-lead

feat: enhance authentication service by adding getAuth import and correcting browserPopupRedirectResolver path
  src/firebase/auth-service.ts
  src/firebase/config.ts
Owners: @project-lead, @tech-lead

feat: update certificate and key files; enhance ESLint configuration and improve Firestore cache settings
  .cert/cert.pem
  .cert/key.pem
  eslint.config.js
  package.json
  src/firebase/config.ts
Owners: @project-lead, @tech-lead

feat: update certificate and key files; enhance ESLint configuration and improve TypeScript settings
  .cert/cert.pem
  .cert/key.pem
  eslint.config.js
  scripts/generate-certs.js
  src/components/HomeContainer.js
  src/services/api.js
  tsconfig.json
  vite.config.js
Owners: @project-lead, @tech-lead, @frontend-team
