Repository Geaux-Specialist-L-L-C/GA-MVP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @default-owner, @frontend-owner, @backend-owner, @docs-owner, @ci-cd-owner

.github/CODEOWNERS:

# This file specifies the code owners for different parts of the project

# Default code owners for the entire repository
*       @default-owner

# Specific code owners for frontend components
/src/components/ @frontend-owner

# Specific code owners for backend components
/backend/ @backend-owner

# Specific code owners for documentation
/docs/ @docs-owner

# Specific code owners for GitHub Actions workflows
/.github/workflows/ @ci-cd-owner

updated wss in index
  index.html
Owners: @default-owner

Unify Firebase auth singleton and add dev debug
  src/App.tsx
  src/components/auth/LoginForm.tsx
  src/config/firebase.ts
  src/contexts/AuthContext.tsx
  src/firebase/config.ts
  src/firebase/firebase-messaging-sw.ts
  src/services/auth-service.ts
  src/test/setup.ts
Owners: @default-owner, @frontend-owner

Harden auth persistence initialization
  src/config/firebase.ts
  src/contexts/AuthContext.tsx
Owners: @default-owner

Improve Firebase auth persistence fallback
  src/config/firebase.ts
Owners: @default-owner

Relax dev COOP/COEP tags for Firebase auth
  src/config/firebase.ts
  src/contexts/AuthContext.tsx
  src/main.tsx
Owners: @default-owner

Unblock auth readiness and routing state
  src/components/PrivateRoute.tsx
  src/components/auth/AuthRoute.tsx
  src/components/auth/LoginForm.tsx
  src/config/firebase.ts
  src/contexts/AuthContext.tsx
  src/main.tsx
  vite.config.js
Owners: @frontend-owner, @default-owner

pyton script auth debug script
  auth_bundle.txt
  bundle_auth_files.py
Owners: @default-owner

Fix dashboard loading states
  src/App.tsx
  src/pages/profile/StudentProfile/StudentDashboard.tsx
Owners: @default-owner

added bundle_src script to output all src files to a single text
  GA_src_bundle.txt
  bundle_src.py
Owners: @default-owner

Fix parent add student flow
  src/App.tsx
  src/pages/profile/ParentProfile/CreateStudent.tsx
  src/pages/profile/ParentProfile/ParentDashboard.tsx
  src/pages/profile/StudentProfile/StudentDashboard.tsx
  src/services/profileService.ts
Owners: @default-owner

Fix Firestore parent/student access rules
  firestore.rules
  src/config/firebase.ts
  src/contexts/AuthContext.tsx
  src/pages/profile/ParentProfile/CreateStudent.tsx
  src/services/profileService.ts
Owners: @default-owner

Update documentation for assessment backend
  Assessment_Roadmap.md
  DEVELOPMENT_GUIDE.md
  Developmentplan.md
Owners: @default-owner

Remove legacy Geaux-flo submodule to fix Netlify deploy
  netlify.toml
Owners: @default-owner

Remove legacy geauxcat submodule to fix Netlify deploy
  netlify.toml
Owners: @default-owner

Fix test deps for React 18 (remove react-hooks testing library)
  package-lock.json
  package.json
  src/hooks/__tests__/useTaskWebSocket.test.ts
Owners: @default-owner

Fix Vite build: keep FCM service worker as public asset
  public/firebase-messaging-sw.js
  vite.config.js
Owners: @default-owner

updated milestone script
  scripts/setup_github_roadmap.sh
Owners: @default-owner

fixed script setup
  scripts/setup_github_roadmap.sh
Owners: @default-owner

fixed python scripts to resolve correct files for parent student dashboard relation
  GA_src_bundle.txt
  bundle_src.py
  exports/ga_mvp_assessment_context_20260101_013459.txt
  scripts/auth_bundle.txt
  scripts/bundle_auth_files.py
  scripts/bundle_src.py
  scripts/export_assessment_context.py
Owners: @default-owner

Fix student id handling in parent dashboard
  src/pages/profile/ParentProfile/ParentDashboard.tsx
  src/services/profileService.ts
Owners: @default-owner

Normalize cached student profiles
  src/pages/profile/ParentProfile/ParentDashboard.tsx
  src/services/profileService.ts
Owners: @default-owner

Handle missing student profiles in dashboard
  src/contexts/AuthContext.tsx
  src/pages/__tests__/StudentDashboard.test.tsx
  src/pages/profile/StudentProfile/StudentDashboard.tsx
Owners: @default-owner

rerun
  scripts/export_issue_137_codex_context.py
Owners: @default-owner

Add Cloud Run assessment service
  server/.env.example
  server/Dockerfile
  server/README.md
  server/package.json
  server/src/__tests__/app.test.ts
  server/src/app.ts
  server/src/index.ts
  server/src/middleware/auth.ts
  server/src/routes/assessment.ts
  server/src/services/firestore.ts
  server/src/services/vertex.ts
  server/src/types.ts
  server/tsconfig.json
  server/vitest.config.ts
Owners: @default-owner

added scripts for finding old serever ref
  issue_137_codex_context.txt
  issue_138_codex_context.txt
  scripts/export_codex_context_issue_138.py
Owners: @default-owner

new serv script cloud vertex nodejs
  export_issue_138_server_bundle.txt
  scripts/export_server_issue_138_bundle.py
Owners: @default-owner

docs: update roadmap after issues 135-138
  Assessment_Roadmap.md
  DEVELOPMENT_GUIDE.md
  Developmentplan.md
  README.md
Owners: @default-owner

updates for issue 139
  DEVELOPMENT_GUIDE.md
  Developmentplan.md
  server/package-lock.json
  server/src/__tests__/app.test.ts
  server/src/__tests__/assessment.fallback.test.ts
  server/src/__tests__/vertex.test.ts
  server/src/app.ts
  server/src/routes/assessment.ts
  server/src/services/vertex.ts
  server/src/services/vertexConfig.ts
Owners: @default-owner

added debug line for auth token
  src/contexts/AuthContext.tsx
Owners: @default-owner

Type 'Unsubscribe' is not assignable to type '() => undefined'. Type 'void' is not assignable to type 'undefined'.
  src/contexts/AuthContext.tsx
Owners: @default-owner

updateseing setting for .env rule
  .vscode/settings.json
Owners: @default-owner

Made the local env loading permanent and added Cloud Run deployment/IAM guidance.
  server/README.md
  server/package.json
  server/src/index.ts
Owners: @default-owner

added deploy cloudrun sh
  server/README.md
  server/package-lock.json
  server/package.json
  server/scripts/deploy_cloudrun.sh
Owners: @default-owner

updated packag.json
  server/package-lock.json
  server/package.json
Owners: @default-owner

mplemented Issue #156 and closed it.
  server/src/__tests__/assessment.decision.test.ts
  server/src/routes/assessment.ts
  server/src/services/vertex.ts
  server/src/types.ts
  src/components/chat/LearningStyleChat.tsx
  src/services/assessmentService.ts
Owners: @default-owner, @frontend-owner

Added all three requests: celebration with toggle, rephrase tracking + auto‑simplify, and tone sync to Firestore.
  learning-research.md
  server/src/services/questionBank.ts
  server/src/services/vertex.ts
  src/components/chat/LearningStyleChat.tsx
  src/services/assessmentQuestionBank.ts
  src/services/profileService.ts
  src/types/profiles.ts
Owners: @default-owner, @frontend-owner

Migrate to Beeai for learning assesment chat bot
  Beeai Vark Assessment Plan
  server/.env.example
  server/README.md
  server/src/beeai/provider.ts
  server/src/beeai/workflows/vark.yaml
  server/src/services/providerTypes.ts
  server/src/services/vertex.ts
  src/components/chat/LearningStyleChat.tsx
Owners: @default-owner, @frontend-owner

added beeai orchestration
  server/.env.example
  server/README.md
  server/src/__tests__/beeai.provider.test.ts
  server/src/beeai/client.ts
  server/src/beeai/provider.ts
  server/src/beeai/sessionStore.ts
  server/src/beeai/types.ts
  server/src/routes/assessment.ts
  server/src/services/providerTypes.ts
  server/src/services/vertex.ts
Owners: @default-owner

updated backend to use new vark orchstration for phase 2 and updateded documentation for completed task
  Assessment_Roadmap.md
  DEVELOPMENT_GUIDE.md
  Developmentplan.md
  GA_MVP_assessment_export.txt
  README.md
  docs/assessment-vark-status.md
  export_repo_to_txt.py
  server/.env.example
  server/README.md
  server/src/__tests__/assessment.vark.integration.test.ts
  server/src/routes/assessment.ts
  server/src/services/orchestration.ts
  server/src/types.ts
  src/components/VARKAssessment/ChatContainer.tsx
  src/hooks/useVARKAssessment.ts
  src/services/varkService.ts
Owners: @default-owner, @docs-owner, @frontend-owner

chore: remove broken orchestration submodule for Netlify
  orchestration/.dockerignore
  orchestration/.github/workflows/main.yml
  orchestration/.gitignore
  orchestration/.husky/pre-commit
  orchestration/.nvmrc
  orchestration/200
  orchestration/Dockerfile
  orchestration/MAINTAINERS.md
  orchestration/README.md
  orchestration/docker-compose.ui.yml
  orchestration/docker-compose.yml
  orchestration/docs/RETURN_CHECKLIST.md
  orchestration/docs/VARK_ORCHESTRATION_SERVICE.md
  orchestration/docs/bee-ui-local.md
  orchestration/docs/beeai-framework-audit.md
  orchestration/eslint.config.js
  orchestration/export_orchestration.py
  orchestration/infra/bee-code-interpreter.yaml
  orchestration/orchestration_export.txt
  orchestration/package-lock.json
  orchestration/package.json
  orchestration/parses
  orchestration/prettier.config.js
  orchestration/scripts/verifyBeeaiFramework.ts
  orchestration/src/beeai/llm.ts
  orchestration/src/beeai/vark.ts
  orchestration/src/server.ts
  orchestration/src/storage/sessionStore.ts
  orchestration/tests/vark.smoke.test.js
  orchestration/tsconfig.json
  orchestration/tsconfig.server.json
Owners: @default-owner
